<div class="bg-blue-900 p-4">
  <div class="container mx-auto">
    <div class="bg-white rounded-lg p-4 shadow-lg">
      <form (ngSubmit)="onSubmit()">
        <div class="flex items-center border-b border-blue-500 py-2">
          <img class="inline-block h-12 w-12 rounded-full mr-4" [src]="avatarSafeUrl" alt="User Image" />
          <textarea [(ngModel)]="postContent" name="postContent" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="What's happening?" required></textarea>
        </div>
        <div class="py-2">
          <!-- Image Upload (optional) -->
          <input type="file" (change)="onImageSelected($event)" class="hidden" #imageInput>
          <button type="button" (click)="imageInput.click()" class="text-blue-500">
            <svg class="inline h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <!-- SVG for image icon -->
            </svg>
            Add image
          </button>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
