<div class="rankings-section bg-dark-mode rounded-lg p-6 w-full max-w-md mx-auto text-white">
  <div class="league-container p-4">
    <div class="crest">
      <div class="league-badge bronze"></div>
      <div class="league-info">Bronze League</div>
    </div>
    <!-- Silver League -->
    <div class="crest">
      <div class="league-badge silver"></div>
      <div class="league-info">Silver League</div>
    </div>
    <!-- Gold League -->
    <div class="crest">
      <div class="league-badge gold"></div>
      <div class="league-info">Gold League</div>
    </div>
    <!-- Platinum League -->
    <div class="crest">
      <div class="league-badge platinum"></div>
      <div class="league-info">Platinum League</div>
    </div>
  </div>
  <div class="big-ranking-section max-w-lg bg-dark-mode p-6">
    <h2 class="text-xl justify-center items-center font-semibold mb-2 text-center">Remontada Gold League</h2>
    <h3 class="text-lg justify-center items-center font-semibold mb-2 text-center">Top 3 advance to the Platinum league</h3>
    <div class="rankings-section bg-dark-mode rounded-lg w-full max-w-4xl text-white flex justify-center items-center">
      <div class="flex flex-col text-lg items-center gap-4">
        <div *ngFor="let user of usersSortedByPoints; let i = index" class="user-card bg-lighter-purple  rounded-lg p-4 w-full max-w-sm flex items-center justify-between shadow-lg relative">
          <div *ngIf="i < 3" class="indicator-bar bg-green-500 absolute left-0 top-0 bottom-0 w-2"></div>
          <div *ngIf="usersSortedByPoints.length - i <= 3" class="indicator-bar bg-red-500 absolute left-0 top-0 bottom-0 w-2"></div>
          <span class="font-bold ml-4">
               <span class="user-details">
               <span *ngIf="i>=0" class="rank-number">{{ i +1 }}</span>
               <img src="{{ user.profilePictureUrl }}" alt="Profile Picture" class="profile-picture">
               <span class="username">{{ user.username }}</span>
               </span>
               </span>
          <div class="flex items-center">
            <span *ngIf="i < 3" class="text-green-500 ml-2">&#9650;</span>
            <span *ngIf="usersSortedByPoints.length - i <= 3" class="text-red-500 ml-2">&#9660;</span>
            <span class="text-sm bg-primary-700 px-3 py-1 rounded-full">{{ user.points }} XP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Legend -->
  <div class="legend text-sm mt-4 flex justify-center gap-8">
    <div><span class="inline-block w-3 h-3 bg-green-500 mr-2"></span> Promotion to higher league</div>
    <div><span class="inline-block w-3 h-3 bg-red-500 mr-2"></span> Relegation to lower league</div>
  </div>
</div>
