  <div class="mx-auto h-screen p-4 2xl:ml-64 lg:ml-28  sm:mx-auto">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <!--Create friends league button-->
      <div class="flex justify-end">
        <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Create Friends League
        </button>
      </div>
      <!-- Tabbed Navigation -->
      <div class="h-fit mb-4 rounded">
        <div class="mb-2 border-b border-transparent ">
          <ul class="flex flex-wrap justify-center -mb-px text-lg font-bold text-center text-black dark:text-white" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
              <button (click)="currentView = 'friends'" [ngClass]="{'active': currentView === 'friends'}" class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Friends League
              </button>
            </li>
            <li class="me-2" role="presentation">
              <button (click)="currentView = 'regional'" [ngClass]="{'active': currentView === 'regional'}" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                Regional League
              </button>
            </li>
          </ul>
        </div>
        <div id="default-tab-content">
          <div class="hidden p-4 rounded-lg bg-gray-50 " id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
          <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab"></div>
        </div>
      </div>
      <!-- Content for Global League -->
      <div *ngIf="currentView === 'friends'">
        <app-friendsleague></app-friendsleague>
      </div>
      <!-- Content for Friends League -->
      <div *ngIf="currentView === 'regional'">
        <!--    <app-createleague></app-createleague> &lt;!&ndash; Component for Friends League &ndash;&gt;-->
        <app-league></app-league>
      </div>

      <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Create a New Friends League
              </h3>
              <button type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-toggle="default-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>

            </div>
            <!-- Modal body -->
            <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()" class="bg-slate-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
              <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2">
                  <label for="leagueName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                  <input formControlName="leagueName" id="leagueName" type="text"
                         placeholder="Enter league name"
                         class="bg-very-light-purple text-dark-mode border border-light-gray rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                         required>
                </div>

                <div class="col-span-2 sm:col-span-1">
                  <div class="mb-4">
                    <label class="block text-sm font-bold mb-2 text-white">
                      Invite Friends
                    </label>

                    <!-- Input to search and add a new friend -->
                    <div class="flex items-center mb-2">
                      <input #newFriendInput type="text"
                             (input)="onUserSearch($event)"
                             placeholder="Search and add friends by username"
                             class="bg-very-light-purple text-black border border-light-gray rounded px-4 py-2 mr-2 flex-grow">
                      <button (click)="addAndClear(newFriendInput.value, newFriendInput)" type="button"
                              class="bg-green-500 text-white w-8 h-8 rounded flex items-center justify-center">
                        +
                      </button>
                    </div>

                  </div>
                  <div class="col-span-2">
                    <ul *ngIf="userSearchResults.length > 0" class="list-none bg-white text-black p-2 rounded mb-4">
                      <li *ngFor="let user of userSearchResults"
                          (click)="addAndClear(user.username, newFriendInput)"
                          class="cursor-pointer text-black hover:bg-lighter-purple p-2">
                        {{ user.username }}
                      </li>
                    </ul>
                    <!-- Container for added friends -->
                    <div class="flex flex-col space-y-4 mb-4">
                      <div *ngFor="let friendControl of friends.controls; let i = index" class="flex items-center">
                        <div class="bg-lighter-purple text-white rounded px-4 py-2 flex-grow">
                          {{ friendControl.value.username }}
                        </div>
                        <button (click)="removeFriend(i)" type="button"
                                class="ml-2 bg-red-500 text-white w-8 h-8 rounded flex items-center justify-center">
                          X
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-span-2">
                <div class="flex justify-end mt-4">
                  <button class="bg-lighter-purple hover:bg-light-mode-text text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Create League
                  </button>
                </div>
              </div>
            </form>
            <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" *ngIf="showModalConfirm">
              <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                  <h3 class="text-lg leading-6 font-medium text-gray-900">League Created Successfully!</h3>
                  <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">League Name: {{ submittedLeagueName }}</p>
                    <p class="text-sm text-gray-500">
                      Friends Invited:
                    <ul>
                      <li *ngFor="let username of submittedFriendsUsernames">{{ username }}</li>
                    </ul>
                  </div>
                  <div class="items-center px-4 pb-3">
                    <button class="bg-blue-500 text-white rounded-md px-4 py-2" (click)="closeModalConfirm()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
