<div class="max-w-fit mx-auto  bg-transparent rounded-lg  dark:bg-gray-800">

  <!-- Avatar Image -->
  <div class="mb-2  ">
    <img *ngIf="_avatarUrl" [src]="_avatarUrl" alt="Avatar" class="avatar image rounded-full"
         style="height: 150px; width: 150px; object-fit: cover;">
    <div *ngIf="!_avatarUrl" class="avatar no-image rounded-full" style="height: 150px; width: 150px;"></div>
  </div>

  <!-- Upload Button -->
  <div>
    <label class="button primary block w-[130px]  text-purple-500  font-medium text-sm px-5 py-2 text-center"
           for="single">
      {{ uploading ? 'Uploading ...' : 'Edit' }}
    </label>
    <input (change)="uploadAvatar($event)" [disabled]="uploading" accept="image/*" id="single"
           style="visibility: hidden; position: absolute" type="file"/>
  </div>

</div>
