<div class="flex justify-center py-4 h-1/6">
  <div class="flex rounded-full shadow-lg" role="group">
    <button (click)="goToPreviousWeek()"
      class="bg-gray-300 text-gray-800 font-medium rounded-l-full px-6 py-2 transition duration-150 ease-in-out focus:bg-gray-400 focus:outline-none">Previous</button>
    <button
      class="bg-gray-500 text-white font-medium px-6 py-2 transition duration-150 ease-in-out focus:bg-gray-600 focus:outline-none">{{formatShortDate(startDate)}}
      - {{formatShortDate(endDate)}}</button>
    <button (click)="goToNextWeek()"
      class="bg-gray-300 text-gray-800 font-medium rounded-r-full px-6 py-2 transition duration-150 ease-in-out focus:bg-gray-400 focus:outline-none">Next</button>
  </div>
</div>


<div class="bg-gray-800 p-6 rounded-lg shadow-md overflow-y-auto h-5/6">
  <div class="grid grid-cols-1 gap-4">

    <!-- Outer loop for grouped fixtures by date -->
    <div *ngFor="let date of groupedFixtureKeys" class="date-group">

      <!-- Display Date -->
      <div class="text-white text-lg font-bold mb-4">
        {{ formatShortDateString(date) }}
      </div>

      <!-- Inner loop for fixtures on a particular date -->
      <div *ngFor="let fixture of groupedFixtures[date]"
        class="bg-gradient-to-r from-[#ce0fd5] to-[#3f25a2] dark:bg-indigo-800 text-dark-mode-text rounded-lg shadow-lg p-4 mt-4 flex items-center justify-between">
        <button [routerLink]="['/game', fixture]" class="text-white underline">
          <!-- Team 1 -->
          <div class="flex-1 flex items-center justify-start">
            <img [src]="fixture.teams.home.logo" alt="Team 1" class="w-10 h-10 rounded-full mr-4">
            <span class="font-semibold text-lg truncate">{{ fixture.teams.home.name }}</span>
          </div>

          <!-- Score -->
          <div class="font-bold text-xl flex-none w-16 text-center">
            {{ fixture.score.fulltime.home }} - {{ fixture.score.fulltime.away }}
          </div>

          <!-- Team 2 -->
          <div class="flex-1 flex items-center justify-end">
            <span class="font-semibold text-lg truncate">{{ fixture.teams.away.name }}</span>
            <img [src]="fixture.teams.away.logo" alt="Team 2" class="w-10 h-10 rounded-full ml-4">
          </div>
        </button>
      </div>
    </div>

  </div>
</div>

<!-- <button (click)="logList()">LOG LIST</button> -->