<div class="bg-white flex flex-col overflow-y-hidden">
  <div class="mx-2">
    <h1>Terms and Conditions of Use</h1>
  </div>
  <div class="m-2 overflow-y-auto h-[600px]">
    <p>These Terms and Conditions of Use ("Terms") govern your access to and use of the Remontada social media application ("the App"), including all features, content, and services available through the App. By downloading, installing, or using the App, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, please do not use the App.</p>

    <h2>1. Acceptance of Terms</h2>

    <p>By using the App, you acknowledge that you have read, understood, and agree to be bound by these Terms. These Terms constitute a legally binding agreement between you and Remontada regarding your use of the App.</p>

    <h2>2. User Registration</h2>
    <p>To fully utilize the features of the App, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.</p>

    <h2>3. Privacy Policy</h2>
    <p>Your use of the App is also governed by our Privacy Policy, which can be found [link to privacy policy]. By using the App, you consent to the terms of our Privacy Policy.</p>

    <h2>4. User Responsibilities</h2>

    <ol class="a">
      <li> You are solely responsible for your use of the App, including any content you post or share.</li>
      <li> You agree not to engage in any activity that may:</li>
      <ol class="b">
        <li><h4> Violate any applicable laws or regulations.</h4></li>
        <li><h4> Infringe upon the rights of any third party.</h4></li>
        <li><h4> Disrupt or interfere with the operation of the App.</h4></li>
      </ol>
    </ol>

    <h2>5. Content Sharing</h2>
    <ol class="a">
      <li> The App allows users to share photos, text, and other content. By sharing content on the App, you grant Remontada a non-exclusive, royalty-free, worldwide, perpetual, and irrevocable license to use, reproduce, distribute, display, and perform the content in connection with the App.</li>
      <li> You agree not to post or share any content that is unlawful, defamatory, obscene, or otherwise objectionable.</li>
    </ol>

    <h2>6. Virtual Coins</h2>
    <p>The App may offer virtual coins for purchase. These virtual coins have no monetary value and can only be used within the App. Remontada reserves the right to modify, suspend, or terminate the virtual coin system at any time.</p>

    <h2>7. Friends and Connections</h2>
    <ol class="a">
      <li> The App allows users to connect with friends. You agree to send friend requests only to individuals whom you know and who have given you consent to connect.</li>
      <li> Remontada is not responsible for the actions or content of your friends or connections on the App.</li>
    </ol>

    <h2>8. Termination of Account</h2>
    <p>Remontada reserves the right to terminate or suspend your account at any time, for any reason, without notice.</p>

    <h2>9. Changes to Terms</h2>
    <p>Remontada reserves the right to modify these Terms at any time. Changes will be effective upon posting on the App. Your continued use of the App after the posting of changes constitutes your acceptance of such changes.</p>

    <h2>10. Contact Information</h2>
    <p>If you have any questions or concerns regarding these Terms, please contact us at [contact@yourcompany.com].</p>

    <h2>11. Data Usage and Advertising</h2>
    <ol class="a">
      <li> Data Collection and Usage: By using the App, you acknowledge and agree that Remontada may collect, process, and store certain information about you, including but not limited to personal and non-personal data. This data may be used to enhance your user experience, improve the App, and for other purposes outlined in our Privacy Policy.</li>
      <li> Advertising: The App may feature advertisements from third-party ad companies. These companies may collect information about your interactions with the advertisements, and such information may be used to provide targeted advertisements that may be of interest to you.</li>
      <li> Third-Party Analytics: We may also use third-party analytics services to analyze your use of the App. These services may collect information about your activity within the App, and this data may be used to improve the App's functionality and user experience.</li>
      <li> Consent to Data Usage: By using the App, you expressly consent to the collection, processing, and storage of your data as described in these Terms and our Privacy Policy.</li>
      <li> Opt-Out Options: You may have the option to opt-out of certain data collection and targeted advertising features within the App. Please refer to our Privacy Policy for more information on how to exercise your opt-out options.</li>
    </ol>

    <h2>12. Selling of Data</h2>
    <ol class="a">
      <li> Data Sharing with Ad Companies: Remontada may share anonymized and aggregated user data with third-party advertising companies for the purpose of delivering more relevant advertisements. However, we will not sell your personal information to these companies without your explicit consent.</li>
      <li> Opt-In Consent: In the event that Remontada intends to sell or transfer your personal data to third parties for purposes other than those outlined in these Terms or our Privacy Policy, we will seek your opt-in consent before doing so.</li>
      <li> User Control: You have the right to control the use and sharing of your data. You may adjust your privacy settings within the App to manage what information is shared and with whom.</li>
    </ol>

    <h2>13. Changes to Data Usage Policies</h2>
    <ol class="a">
      <li> Remontada reserves the right to update and modify its data usage and sharing policies at any time. Any material changes will be communicated to users through the App, and your continued use of the App after such changes will constitute your acceptance of the updated policies.</li>
      <li> Users who do not agree with the data usage and sharing policies are encouraged to discontinue using the App.</li>
    </ol>
    <p>By using the App, you agree to these Terms and acknowledge that your use is subject to compliance with these Terms and all applicable laws and regulations.</p>
  </div>
  <div class="flex justify-center py-2">
    <button (click)="closeTCModal()" class="border-light-mode-text border rounded-sm px-1">Close</button>
  </div>
</div>
