<div class="bg-white dark:bg-[#394151] rounded-lg p-2 mb-4 w-full">
  <!-- Check if it's a retweet and display retweet info -->
  <div *ngIf="post.original_post_id" class="retweet-indicator mb-4">
    <!-- Retweeter's Info -->
    <div class="flex items-center mb-4">
      <!-- Retweeter's Avatar -->
      <img [src]="avatarSafeUrl" (click)="onAvatarClick(post.user_id)" alt="Retweeter's profile image" class="inline-block h-10 w-10 rounded-full mr-4"/>
      <div>
        <!-- Retweeter's Username -->
        <div *ngIf="!this.post.is_official" class="flex flex-row items-center">
          <p class="font-bold text-xl text-gray-800 dark:text-white" (click)="onAvatarClick(post.user_id)">{{ username }}</p>
          <span class="flex items-center justify-center  w-4 h-4 lg:w-6 lg:h-6 me-2  ml-2 font-semibold bg-white dark.bg-white rounded-full">
            <img class="w-full h-full lg:w-4 lg:h-4" [src]="favoriteClub?.logo" alt="hehe"/>
            <!-- <img [src]="favoriteClub?.logo" alt="Favorite Club Logo"> -->


            <span class="sr-only">Icon description</span>
          </span>
        </div>
        <!-- Retweet Date -->
        <p class="text-sm text-light-gray" (click)="onAvatarClick(post.user_id)">{{ post.created_at | date: 'medium' }}</p>
      </div>
    </div>
    <!-- Retweeter's Comment (if any) -->
    <p *ngIf="post.content" class="text-gray-800 dark:text-white mt-3 p-4">{{ post.content }}</p>
  </div>

  <!-- Original Post Content -->
  <div *ngIf="originalPost else originalContent" (click)="onPostClick(originalPost.id)"
       class="border border-purple-500 rounded-lg p-2 ml-4 scale-95 bg-gray-100 mt-4 mt:border-t-4">
    <div class="flex items-center mb-4 w-fit">
      <!-- Original Poster's Avatar -->
      <img [src]="retweetAvatarSafeUrl"  alt="Original poster's profile image" class="inline-block h-10 w-10 rounded-full mr-4"/>
      <div>
        <!-- Original Poster's Username -->
       <div *ngIf="!this.post.is_official" class="flex flex-row items-center">
          <p class="font-bold text-xl text-gray-800 dark:text-white ">{{ usernameRetweeted }}</p>
          <span class="flex items-center justify-center  w-4 h-4 lg:w-6 lg:h-6 me-2  ml-2 font-semibold bg-white dark.bg-white rounded-full">
            <img class="w-full h-full lg:w-4 lg:h-4" [src]="clubRetweeted?.logo" alt="hehe"/>
            <!-- <img [src]="favoriteClub?.logo" alt="Favorite Club Logo"> -->


            <span class="sr-only">Icon description</span>
          </span>
        </div>
        <!-- Original Post Date -->
        <p class="text-sm text-light-gray"  >{{ originalPost.created_at | date: 'medium' }}</p>
      </div>
    </div>
    <!-- Original Post Content -->
    <p class="text-gray-800 dark:text-white mt-3">{{ originalPost.content }}</p>
    <!-- Original Post Image if exists -->
    <div *ngIf="originalPost.image_url" class="mt-4">
      <img [src]="originalPostImageUrl" alt="Original post image" class="rounded-lg sm:w-80 lg:w-fit lg:h-auto mx-auto"/>
    </div>
  </div>

  <!-- Normal Post Content -->
  <ng-template #originalContent>
    <div class="flex items-center mb-4 w-full">
      <!-- Display poster's avatar -->
      <img *ngIf="!this.post.is_official" [src]="avatarSafeUrl" (click)="onAvatarClick(post.user_id)" alt="User profile image" class="inline-block h-10 w-10 rounded-full mr-4"/>
      <svg *ngIf="this.post.is_official" preserveAspectRatio="xMidYMid meet" viewBox="0 0 3200.000000 3200.000000" xmlns="http://www.w3.org/2000/svg" class="fill-current text-black dark:text-white w-12 h-12 lg:w-16 lg:h-16">
        <g transform="translate(0.000000,3200.000000) scale(0.100000,-0.100000)">
          <path d="M12782 24605 c-115 -21 -210 -53 -312 -106 -282 -145 -473 -385 -562-706 -21 -75 -22 -99 -26 -604 l-3 -527 43 8 c106 20 308 41 478 50 498 26 1025 -51 1515 -224 l129 -46 1457 0 c921 0 1495 -4 1560 -10 1143 -113 2120-849 2543 -1915 142 -359 208 -711 209 -1110 0 -443 -79 -823 -254 -1224 -391
                  -893 -1211 -1560 -2160 -1755 -264 -55 -317 -59 -890 -63 l-537 -5 -83 -140 c-205 -349 -449 -651 -764 -945 -572 -537 -1301 -902 -2085 -1047 -277 -51-401 -61 -760 -61 -184 0 -350 3 -367 7 l-33 8 0 -2304 c0 -2531 -4 -2378 61
                  -2562 133 -381 477 -662 875 -715 514 -68 1010 240 1174 731 57 171 54 0 57 2532 l3 2327 1523 4 c1616 4 1596 3 1942 53 1454 208 2765 1035 3585 2260 475 711 749 1456 851 2317 26 219 37 713 20 937 -86 1149 -516 2187 -1266 3055
                  -137 159 -429 446 -585 576 -567 472 -1207 814 -1900 1014 -296 85 -555 136-930 182 -121 15 -357 17 -2285 19 -1758 2 -2163 0 -2223 -11z"
          />
          <path d="M12346 22300 c-59 -5 -166 -16 -237 -25 l-128 -17 -10 -32 c-40 -124-19 -224 93 -451 111 -224 168 -309 290 -431 84 -84 115 -108 186 -142 122-60 191 -75 340 -75 271 1 473 55 1072 284 368 141 473 185 551 231 87 51 87
                  46 -5 105 -445 287 -978 477 -1508 538 -166 19 -497 27 -644 15z"
          />
          <path d="M11230 22039 c-226 -94 -497 -244 -688 -380 -429 -308 -801 -720 -1046 -1161 l-37 -67 66 -69 c142 -151 342 -210 615 -183 510 52 1084 276 1362 531 86 79 162 191 189 282 20 65 21 86 16 232 -10 277 -67 475 -186 656
                  -42 64 -168 200 -185 199 -6 0 -54 -18 -106 -40z"
          />
          <path d="M14795 21239 c-287 -87 -608 -194 -762 -255 -778 -306 -891 -644 -383 -1144 197 -195 516 -422 771 -549 266 -133 460 -175 628 -136 131 31 212 95 312 247 215 326 344 786 300 1068 -13 81 -53 155 -184 340 -132 187 -410
                  501 -441 499 -6 0 -114 -32 -241 -70z"
          />
          <path d="M10755 19969 c-177 -23 -399 -94 -530 -171 -204 -119 -317 -258 -376-460 -33 -113 -38 -355 -11 -513 37 -212 100 -379 193 -508 384 -531 812 -807
                  1174 -756 341 47 558 360 674 969 33 175 54 405 48 510 -16 246 -116 451 -312 639 -146 139 -303 225 -504 277 -101 26 -219 30 -356 13z"
          />
          <path d="M15942 19572 c-80 -111 -186 -324 -213 -427 -60 -235 -17 -468 110-595 53 -53 165 -113 232 -125 l36 -7 6 44 c26 186 15 553 -24 817 -20 142
                  -66 361 -77 373 -4 4 -35 -32 -70 -80z"
          />
          <path d="M12989 19479 c-404 -59 -703 -533 -785 -1245 -23 -194 -15 -496 15-609 56 -215 186 -382 363 -469 136 -67 223 -87 408 -93 227 -8 459 32 720
                  122 582 202 844 547 800 1055 -12 134 -31 203 -84 315 -57 119 -126 213 -244 336 -282 294 -669 524 -983 584 -88 16 -123 17 -210 4z"
          />
          <path d="M9176 18535 c-41 -14 -102 -67 -111 -96 -4 -10 1 -73 10 -141 86 -641 345 -1244 761 -1765 149 -186 555 -573 602 -573 8 0 51 19 95 42 159 82
                  277 231 328 413 29 105 32 272 5 360 -67 222 -180 344 -694 749 -350 276 -462 400 -682 756 -157 256 -205 294 -314 255z"
          />
          <path d="M15816 17779 c-155 -22 -273 -123 -366 -314 -84 -172 -117 -362 -99 -569 9 -101 32 -226 48 -254 10 -18 41 21 154 193 97 148 172 284 250 453 79
                  169 189 475 176 486 -11 9 -111 12 -163 5z"
          />
          <path d="M14557 17140 c-50 -13 -100 -39 -209 -111 -317 -208 -670 -341 -1104 -414 -215 -36 -352 -78 -453 -137 -79 -46 -201 -171 -233 -238 -119 -249 -12
                  -542 329 -900 68 -72 91 -90 113 -90 48 0 315 48 444 80 140 34 368 109 501 164 147 62 420 204 487 256 154 116 331 334 412 503 140 295 143 604 8 782
                  -65 86 -191 131 -295 105z"
          />
          <path d="M11415 15953 c-110 -15 -249 -71 -351 -141 -67 -45 -181 -147 -174 -155 11 -11 255 -129 332 -161 304 -126 713 -229 1002 -252 87 -7 89 -7 75 13
                  -240 332 -284 388 -389 493 -178 179 -302 230 -495 203z"
          />
          <path d="M18569 13839 c-100 -14 -437 -38 -714 -50 -308 -13 -1412 -16 -1860 -5 l-300 7 2010 -2009 c1106 -1105 2071 -2062 2145 -2128 951 -842 1745 -1275 2275 -1241 601 39 1049 536 1022 1132 -22 469 -338 867 -787 990 -132 37 -156
                  48 -310 149 -224 147 -519 378 -775 607 -66 59 -671 659 -1345 1333 l-1225 1226 -40 -1 c-22 -1 -65 -5 -96 -10z"
          />
        </g>
      </svg>
      <div>
        <!-- Display poster's username -->

        <div *ngIf="this.post.is_official" class="flex items-center">
          <p  class="font-bold text-md lg:text-xl text-gray-800 dark:text-white">Remontada live</p>
          <span class="inline-flex items-center justify-center w-4 h-4 lg:w-6 lg:h-6 me-2  ml-2 text-sm font-semibold bg-purple-300 rounded-full">
            <svg class="w-2 h-2 lg:w-4 lg:h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path fill="currentColor" class="text-purple-600" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
              <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/>
            </svg>
            <span class="sr-only">Icon description</span>
          </span>
        </div>
        <div *ngIf="!this.post.is_official" class="flex flex-row items-center">
          <p class="font-bold text-xl text-gray-800 dark:text-white" (click)="onAvatarClick(post.user_id)">{{ username }}</p>
          <span class="flex items-center justify-center  w-4 h-4 lg:w-6 lg:h-6 me-2  ml-2 font-semibold bg-white dark.bg-white rounded-full">
            <img class="w-full h-full lg:w-4 lg:h-4" [src]="favoriteClub?.logo" alt="hehe"/>
            <!-- <img [src]="favoriteClub?.logo" alt="Favorite Club Logo"> -->


            <span class="sr-only">Icon description</span>
          </span>
        </div>
        <!-- Display post date -->
        <p class="text-xs lg:text-sm text-light-gray" (click)="onAvatarClick(post.user_id)">{{ post.created_at | date: 'medium' }}</p>
      </div>
    </div>

    <!-- Display post content -->
    <p *ngIf="!this.post.is_official" class="text-gray-800 mt-3 dark:text-white" (click)="onPostClick(post.id)">{{ post.content }}</p>
    <div *ngIf="this.post.is_official" (click)="onPostClick(post.id)" class="flex flex-row items-center justify-between">
      <div class="flex flex-col 2xl:flex-row">
        <p class="text-gray-800 dark:text-white text-sm md:text-lg lg:text-2xl  lg:mx-2  2xl:mr-1 2xl:ml-4">{{ splitTextAtSecondHyphen(post.content)[0] }} </p>
        <p class="text-gray-800 dark:text-white text-sm md:text-lg lg:text-2xl  lg:mx-2  2xl:ml-1 2xl:mr-4 font-medium">{{ splitTextAtSecondHyphen(post.content)[1] }}</p>
      </div>
      <img src="assets/logos/kvc-westerlo.svg" alt="Post image" class="rounded-lg w-20 h-20 md:w-28 md:h-28 lg:w-40 lg:h-40 mx-1 lg:mx-6">
    </div>

    <!-- Display post image if exists -->
    <div *ngIf="post.image_url && !post.is_official" class="mt-4" (click)="onPostClick(post.id)">
      <img [src]="postSafeUrl" alt="Post image" class="rounded-lg sm:w-80 lg:w-fit lg:h-auto mx-auto"/>
    </div>
  </ng-template>


  <!-- Interaction buttons like, comment, etc. -->
  <div class="flex items-center mt-4">
    <!-- Like Button -->
    <button (click)="toggleLike(this.post.id)" class="flex flex-col items-center">
      <svg [ngClass]="{'text-red-500': isLiked(this.post.id), 'dark:text-white':!isLiked(this.post.id),'text-gray-400': !isLiked(this.post.id)}"
           class="h-6 w-6 cursor-pointer"
           fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
      </svg>
      <span class="text-gray-800 dark:text-white">{{ getLikeCount(this.post.id) | number }}</span>
    </button>

    <!-- Comment Button  -->
    <button (click)="commentPost(this.post.id)" class="flex flex-col items-center ml-2">
      <svg class="h-6 w-6 cursor-pointer text-gray-400 dark:text-white hover:text-blue-600 transition duration-300 ease-in-out"
           fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
      </svg>
      <span class="text-gray-800 dark:text-white">{{ getCommentCount(this.post.id) | number }}</span>
    </button>

    <!-- Retweet Button  -->
    <button (click)="openCreatePostModal()" class="flex flex-col items-center ml-2">
      <svg class="h-6 w-6 cursor-pointer text-gray-400 dark:text-white hover:text-blue-600 transition duration-300 ease-in-out"
           fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4"/>
      </svg>
      <span class="text-gray-800 dark:text-white">{{ getRetweetCount(this.post.id) | number }}</span>
    </button>

  </div>
</div>

