<div *ngIf="loading; else loadedContent">
  Loading...
</div>
<ng-template #loadedContent>
  <div class="p-4 lg:px-64">
    <div class="border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <div class="bg-gray-100">
        <div class="mx-auto w-full">
          <!-- Display the post content -->
          <app-post-view [post]="post" [originalPost]="originalPost"></app-post-view>
          <!--beta-->
          <section class="bg-white dark:bg-[#3a4151] py-4 lg:py-8 rounded-lg antialiased h-fit">
            <div class="mx-auto px-4">
              <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Comment section</h2>
              </div>
              <!--post comment-->
              <form class="mb-6">
                <div class="py-2 px-4 mb-4 bg-white dark:bg-[#565f77] rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                  <label for="comment" class="sr-only">Your comment</label>
                  <textarea id="comment" rows="2"
                            class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-white dark:bg-[#565f77]"
                            name="commentContent" [(ngModel)]="commentContent"
                            placeholder="Write a comment..." required></textarea>
                </div>
                <button (click)="postComment()"
                        type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                  Post comment
                </button>
              </form>
              <!--this is the comment section-->
              <div *ngFor="let comment of comments">
                <!-- Display the comment content here -->
                <!-- For example, you might have a 'app-comment-view' component -->
                <app-comment-view [comment]="comment"></app-comment-view>
                <hr class="h-px mb-4 w-full bg-gray border-0 dark:bg-dark-mode">
              </div>
            </div>
          </section>
      </div>
      </div>
    </div>
  </div>
</ng-template>
