.user-details {
  display: flex;
  align-items: center;
}

.rank-number {
  margin-right: 10px; /* Adds space between the rank number and the profile picture */
}

.profile-picture {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Makes the picture round */
  object-fit: cover; /* Ensures the image covers the area properly */
  margin-right: 10px; /* Adds space between the profile picture and the username */
}

.username {
  /* Any additional styling for the username */
}

.league-container {
  display: flex;
  justify-content: normal; /* This will space out the crests evenly */
  align-items: flex-end; /* Aligns the badges at the bottom */
  flex-wrap: wrap; /* Allows the badges to wrap onto the next line if necessary */
  gap: 2px; /* Adjust the gap between crests as needed */
}

.crest {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the badges and text in a column */
  width: 80px;
  height: auto;
  margin-bottom: 1rem; /* Adds space below each crest */
  transform: scale(0.7);
  padding: 1px;
}

.league-info {
  text-align: center;
  margin-top: 4px; /* Spacing between crests and text, adjust as needed */
  padding: 1px;
}


.league-badge {
  width: 60px; /* Example size, adjust as needed */
  height: 80px; /* Example size, adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  padding: 2px;
  margin-bottom: 0.5rem; /* Adds space below the badge */

}

.bronze { background-image: url('src/assets/crests/bronzecrest.svg');}
.silver { background-image: url('src/assets/crests/silvercrest.svg');}
.gold {background-image: url('src/assets/crests/goldencrest.svg');}
.platinum { background-image: url('src/assets/crests/platinumcrest.svg');}

.league-badge:hover {
  transform: scale(0.9);
}

.coming-soon-overlay {
  position: relative;
  text-align: center;
  padding: 5px 5px;
  padding: 5px 5px;
  border-radius: 15px;
  margin-top: 50px;
}

.coming-soon-title {
  color: #a855f7;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.7);
}

.countdown {
  font-family: 'Courier New', monospace;
  font-size: 1.5rem;
  color: #FFFFFF;
  background: #333;
  display: inline-block;
  padding: 20px;
  border: 3px solid #a855f7; /* Golden border */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.7); /* Slight glow effect */
}

.countdown span {
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* White text glow for readability */
}

/* Animation for the countdown to mimic alarm beeping */
@keyframes beep {
  0%, 100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    color: #FFFFFF;
  }
  50% {
    text-shadow: 0 0 15px rgba(168, 85, 247, 0.7); /* Slight glow effect */
    color: #a855f7; /* Alarm red color */
  }
}

/* Apply the beep animation to each countdown segment */
.countdown span {
  display: inline-block;
  min-width: 30px; /* Ensure consistent width */
  margin: 0 5px;
  animation: beep 1s infinite;
}

.cards-container {
  display: flex;
  justify-content: center; /* Centers cards in the container */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the cards container */
  max-width: 100%; /* Full width of the container */
}

.card {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  flex: 0 0 calc(33.33% - 40px); /* Assign width to each card, subtracting the gap */
  border-radius: 8px; /* Rounded corners for card */
  align-items: center; /* Center-align items horizontally */
}

.icon-container {
  display: flex;
  justify-content: center; /* Center the icon */
  align-items: center;
  text-align: center; /* Center the icon */
  padding: 20px; /* Space around the icon */
  width: 100%; /* Ensure icon container fills card width */

}

.icon {
  width: 50px; /* Size of the icon */
  height: 50px; /* Maintain aspect ratio */
}

.card-content {
  padding: 15px; /* Padding inside the card content */
  width: 100%; /* Ensure text container fills card width */
}

/* Card content styling */
.card-content p {
  font-size: 0.9rem; /* Adjust font size as needed */
  line-height: 1.4; /* Line height for better readability */
  text-align: center; /* Center the text */
  margin: 0; /* Adjust margin as needed */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1000px) {
  .cards-container {
    flex-direction: column;
    padding: 20px 0; /* Top and bottom padding only */
  }

  .card {
    flex: 0 0 auto; /* Cards take up space based on content */
    width: 80%; /* Slightly smaller cards on mobile */
    margin: 10px auto; /* Center cards with margin */
  }
}







