<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
<!--

<section class=" flex flex-col min-h-screen " xmlns="http://www.w3.org/1999/html">
  <div class="flex flex-1 flex-wrap md:flex-nowrap">
    &lt;!&ndash; Logo at the top-left &ndash;&gt;
    &lt;!&ndash; Add absolute positioning, and set z-index to 10 &ndash;&gt;
    &lt;!&ndash; Main Content and Posts/Matches &ndash;&gt;
    <div class="w-full mx-auto my-0 max-w-screen-xl light-mode-text pl-32 pr-20 h-full">
      &lt;!&ndash; Main Content &ndash;&gt;
      <div class="h-1/6 pt-7 px-4">
        &lt;!&ndash; Search Bar &ndash;&gt;
        <div class="flex border-gray-200 border-dashed dark:border-gray-700 rounded-full p-1">
          <form class="flex items-center flex-1 ">
            <img class="mx-2 w-5 h-5" src="./assets/search-137.png">
            <input class="block w-full border-0 bg-transparent py-1.5 pl-1 text-gray-200 placeholder:text-gray-400 focus:ring-0 sm:text-xl sm:leading-6" name="searchbar" placeholder="search" type="text">
          </form>
        </div>
        &lt;!&ndash; Links for posts/matches &ndash;&gt;
        <nav class="flex justify-center py-4 space-x-4">
          <a (click)="showPostsContent()" class="light-mode-text hover:light-mode-text focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5">
            Posts
          </a>
          <a (click)="showMatchesContent()" class="light-mode-text hover:light-mode-text focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">
            Games
          </a>
        </nav>
      </div>
      &lt;!&ndash; Posts and Matches come here &ndash;&gt;
      <div class="w-full mx-auto max-w-screen-xl h-5/6 pt-8">
        <div *ngIf="showPosts">
          <app-posts></app-posts> &lt;!&ndash; Display only if showPosts is true &ndash;&gt;
        </div>
        <div *ngIf="showMatches">
          <app-matches></app-matches> &lt;!&ndash; Display only if showMatches is true &ndash;&gt;
        </div>
      </div>
    </div>
    &lt;!&ndash; Settings &ndash;&gt;
    <aside class="w-96 pr-6 pt-6"> &lt;!&ndash; Adjust the width to 1/6 and remove padding classes &ndash;&gt;
      <div *ngIf="!(authService.isAuthenticated$ | async)" class="mb-4">
        <button class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 ml-18 mt-8 mb-2" type="button" (click)="navigateToLogin()">
          Log In
        </button>
        &lt;!&ndash; Next Match &ndash;&gt;
      </div>
      <div class=" rounded-lg shadow-md mt-4 p-4 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <span class=" content-center  text-xl">Next Match</span>
        </div>
        <div class="flex items-center justify-center">
          <img alt="Team 1" class="w-20 h-20 rounded-full mt-2" src="../assets/team1-icon.png">
        </div>
        <div class="flex flex-col items-center justify-center">
          <span class=" mt-3 text-l">KV Kortrijk</span>
          <span class="text-l">Tue, 26 oct 21:00</span>
        </div>
      </div>
      <div class=" rounded-lg shadow-md mt-5 mb-8 p-4 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <span class=" content-center text-xl">Remontada League</span>
        </div>
        <div class="flex items-center justify-center">
          <img alt="Raymontada League" class="w-32 h-32 rounded-full mt-2" src="../assets/img.png">
        </div>
        <div class="flex flex-col items-center justify-center">
          <span class=" mb-3 mx-4 text-sm">Login Required</span>
        </div>
        <div class=" grid grid-cols-1 md:grid-cols-1 gap-1 mx-2">
          &lt;!&ndash; Rankings &ndash;&gt;
          <div class="dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="../assets/User-Profile-PNG-Image.png">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#1</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player One</div>
            </div>
          </div>
          <div class=" dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="../assets/User-Profile-PNG-Image.png">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#2</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Two</div>
            </div>
          </div>
          <div class=" dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="../assets/User-Profile-PNG-Image.png">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#3</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Three</div>
            </div>
          </div>
          &lt;!&ndash; Repeat the structure for each match, replacing team names, scores, and image sources &ndash;&gt;
        </div>
      </div>
    </aside>
  </div>
</section>

<style>
    /* CSS for a larger logo at the top */
    .top-logo {
        width: 250px; /* Adjust the width as needed for a larger logo */
        height: 250px; /* Adjust the height as needed for a larger logo */
        left: 6%; /* Horizontally centered */
        transform: translateX(-50%); /* Horizontally centered */
        z-index: 0; /* Behind other content */
    }

</style>
-->
