<aside class="fixed top-0 right-0 w-fit p-4 hidden lg:block">
  <div *ngIf="!(authService.isAuthenticated$ | async)" class="mb-4">
    <button class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 ml-18 mt-8 mb-2" type="button" (click)="navigateToLogin()">
      Log In
    </button>
  </div>
  <div class="bg-light-mode-acc dark:bg-[#394151] rounded-lg shadow-md p-4 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
    <div class="flex justify-center">
      <span class="content-center text-xl font-bold text-black dark:text-white">Next Match</span>
    </div>
    <div class="flex items-center justify-center">
      <img alt="Team 1" class="w-20 h-20 rounded-full mt-2" src="assets/team1-icon.png">
    </div>
    <div class="flex flex-col items-center justify-center">
      <span class=" mt-3 text-l font-semibold text-black dark:text-white">KV Kortrijk</span>
      <span class="text-l font-medium text-black dark:text-white">Tue, 26 oct 21:00</span>
    </div>
  </div>
  <div class="rounded-lg bg-light-mode-acc dark:bg-[#394151] shadow-md mt-5 mb-8 p-4 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
    <div class="flex justify-center">
      <span class="content-center text-xl font-bold text-black dark:text-white">Remontada League</span>
    </div>
    <div class="flex items-center justify-center">
      <img alt="Remontada League" class="w-32 h-32 rounded-full mt-2" src="assets/img.png">
    </div>
    <div class="flex flex-col items-center justify-center">
      <span class="text-red-500 mb-3 mx-4 text-sm font-bold ">Login Required</span>
    </div>
    <div class=" grid grid-cols-1 md:grid-cols-1 gap-1 mx-2">
      <div class="dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
        <div class="flex items-center">
          <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="assets/User-Profile-PNG-Image.png">
          <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#1</span>
        </div>
        <div class="flex-1 items-center ml-3">
          <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player One</div>
        </div>
      </div>
      <div class=" dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
        <div class="flex items-center">
          <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="assets/User-Profile-PNG-Image.png">
          <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#2</span>
        </div>
        <div class="flex-1 items-center ml-3">
          <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Two</div>
        </div>
      </div>
      <div class=" dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
        <div class="flex items-center">
          <img alt="Team 1" class="w-6 h-6 rounded-full object-cover" src="assets/User-Profile-PNG-Image.png">
          <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#3</span>
        </div>
        <div class="flex-1 items-center ml-3">
          <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Three</div>
        </div>
      </div>
    </div>
  </div>
</aside>

<div class="p-4 lg:ml-64 lg:mr-64 w-fit mx-auto">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <!--Search bar-->
    <div class="flex items-start justify-start mb-4 rounded">
      <form class="w-full">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-[#8d93a1]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="search" id="default-search" class="w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-[#394151] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 pr-20" placeholder="Search..." required>
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
      </form>
    </div>
    <!--Links for posts/matches-->
    <div class="flex items-center justify-center h-fit mb-4 rounded">
      <nav class="flex justify-center py-4 space-x-4">
        <a (click)="showPostsContent()" class=" hover:bg-navbar-hover-light dark:hover:bg-dark-gray focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-black dark:text-white cursor-pointer">
          Posts
        </a>
        <a (click)="showMatchesContent()" class=" hover:bg-navbar-hover-light dark:hover:bg-dark-gray focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-black dark:text-white cursor-pointer">
          Games
        </a>
      </nav>
    </div>
    <!--Posts and Matches come here-->
    <div class="flex items-center justify-center h-fit w-fit mb-4 rounded">
      <div *ngIf="showPosts">
        <app-posts></app-posts> <!--&lt;!&ndash; Display only if showPosts is true &ndash;&gt;-->
      </div>
      <div *ngIf="showMatches">
        <app-matches></app-matches> <!--lt;!&ndash; Display only if showMatches is true &ndash;&gt;-->
      </div>
    </div>
  </div>
</div>



