<div class="p-4">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="flex flex-col items-center justify-center h-fit">
      <div class="bg-white dark:bg-[#394151] rounded-lg shadow-lg p-8 w-fit">
        <app-stepper [currentStep]="currentStep"></app-stepper>
        <form (ngSubmit)="onSubmit()" [formGroup]="updateProfileForm" class="mt-4">
          <section *ngIf="currentStep === 1">
            <h1 class="text-2xl mb-2 font-bold xl:text-3xl text-black dark:text-white">Complete profile</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
              <!-- First Name -->
              <label class="xl:text-base text-black dark:text-white">First Name</label>
              <div class="flex">
                <input class="h-10 border border-neutral-light-gray text-gray focus:outline-none focus:border-blue-500 rounded-md  xl:py-4" formControlName="first_name" placeholder="e.g. John" type="text"/>
                <button [class.bg-green-700]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched" [class.bg-red-700]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)"
                        data-tooltip-target="tooltip-firstname" data-tooltip-placement="right"
                        type="button"
                        class="rounded-full ms-4 focus:outline-none p-2.5">
                  <svg class="w-6 h-6 text-dark-gray dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h2v5m-2 0h4M9.408 5.5h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                </button>
              </div>
              <!-- Last Name -->
              <label class="xl:text-base text-black dark:text-white">Last Name</label>
              <div class="flex">
                <input class="h-10 border border-neutral-light-gray text-gray focus:outline-none focus:border-primary-blue-500 rounded-md xl:py-4" formControlName="last_name" placeholder="e.g. Doe" type="text"/>
                <button [class.bg-green-700]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched" [class.bg-red-700]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)"
                        data-tooltip-target="tooltip-lastname" data-tooltip-placement="right"
                        type="button"
                        class="rounded-full ms-4 focus:outline-none p-2.5">
                  <svg class="w-6 h-6 text-dark-gray dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h2v5m-2 0h4M9.408 5.5h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                </button>
              </div>
              <!-- Username -->
              <label class="xl:text-base text-black dark:text-white">Username</label>
              <div class="flex">
                <input class="h-10 border border-neutral-light-gray text-gray focus:outline-none focus:border-blue-500 rounded-md xl:py-4" formControlName="username" placeholder="e.g. johndoe123" type="text"/>
                <button [class.bg-green-700]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched" [class.bg-red-700]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)"
                        data-tooltip-target="tooltip-username" data-tooltip-placement="right"
                        type="button"
                        class="rounded-full ms-4 focus:outline-none p-2.5">
                  <svg class="w-6 h-6 text-dark-gray dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h2v5m-2 0h4M9.408 5.5h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                </button>
              </div>
              <!-- Birthdate -->
              <label class="xl:text-base text-black dark:text-white">Birthdate</label>
              <div class="flex">
                <input class="h-10 border border-neutral-light-gray text-gray focus:outline-none focus:border-blue-500 rounded-md xl:py-4" formControlName="birthdate" type="date"/>
                <button [class.bg-green-700]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched" [class.bg-red-700]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)"
                        data-tooltip-target="tooltip-birthday" data-tooltip-placement="right"
                        type="button"
                        class="rounded-full ms-4 focus:outline-none p-2.5">
                  <svg class="w-6 h-6 text-dark-gray dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h2v5m-2 0h4M9.408 5.5h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                </button>
              </div>
            </div>
          </section>
          <section *ngIf="currentStep === 2">
            <h2 class="text-2xl text-start font-bold mb-4 xl:text-3xl text-black dark:text-white">Select your favorite team</h2>
            <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 mb-4">
              <div (click)="selectFavorite(team)" *ngFor="let team of teams" [class.selected]="team.favorite" class="team-card mb-4">
                <img alt="{{ team.name }}" src="{{ team.logoPath }}" class="w-24 h-24">
                <p class="text-gray dark:text-white font-bold pt-4">{{ team.name }}</p>
                <div *ngIf="team.favorite" class="star"></div>
              </div>
            </div>
          </section>
          <section *ngIf="currentStep === 3">
            <h2 class="text-2xl text-start font-bold mb-4 xl:text-3xl text-black dark:text-white">Choose clubs you want to follow</h2>
            <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 mb-4">
              <div (click)="toggleTeamFollow(team)" *ngFor="let team of teams" [class.favorite]="team === favoriteTeam" [class.followed]="selectedFollowedTeams.has(team)" class="team-card mb-4">
                <img alt="{{ team.name }}" class="w-24 h-24" src="{{ team.logoPath }}">
                <p class="text-gray dark:text-white font-bold pt-4">{{ team.name }}</p>
                <div *ngIf="team.favorite" class="star"></div>
                <div *ngIf="selectedFollowedTeams.has(team) && team !== favoriteTeam" class="plus-sign">
                  +
                </div>
              </div>
            </div>
          </section>
          <section *ngIf="currentStep === 4 && showSummary">
            <h2 class="text-3xl font-bold text-start mb-4 text-black dark:text-white">Registration Summary</h2>
            <div class="bg-neutral-alabaster py-5 px-4 text-sm rounded-lg xl:text-base text-black dark:text-white">
              <div class="mb-3">
                <h3 class="text-2xl font-semibold">Your Information</h3>
                <p><strong>Name:</strong>
                  <span class="text-gray-300 ml-3">{{ updateProfileForm.get('first_name')?.value }}</span>
                  <span class="text-gray-300">{{ ' ' }}</span>
                  <span class="text-gray-300">{{ updateProfileForm.get('last_name')?.value }}</span>
                </p>
                <p><strong>Email:</strong>
                  <span class="text-gray-300 ml-3">{{ profile?.email }}</span>
                </p>
                <p><strong>Username:</strong>
                  <span class="text-gray-300 ml-3">{{ updateProfileForm.get('username')?.value }}</span>
                </p>
              </div>
              <hr class="text-neutral-cool-gray my-4">
              <div class="mb-3">
                <h3 class="text-2xl font-semibold">Account Details</h3>
                <p class="text-xl"> <strong> Favorite Team</strong></p>
                <p class="text-gray-300" *ngIf="favoriteTeam">{{ favoriteTeam.name }}</p>
                <p class="text-gray-300" *ngIf="!favoriteTeam">Not selected</p>
              </div>
              <div class="mb-3">
                <h3 class="text-xl font-semibold">Clubs You Want to Follow</h3>
                <ul>
                  <li class="text-gray-300" *ngFor="let team of selectedFollowedTeams">{{ team.name }}</li>
                  <li class="text-gray-300" *ngIf="selectedFollowedTeams.size === 0">No clubs selected</li>
                </ul>
              </div>
            </div>
          </section>
          <section *ngIf="lastPage" class="flex flex-col py-14 items-center text-center xl:mt-16 text-black dark:text-white">
            <img alt="" class="w-fit h-fit mb-4 xl:w-[5.25rem] xl:mb-8" src="assets/success.gif"/>
            <h2 class="text-2xl font-bold mb-2 xl:text-4xl">Thank you!</h2>
            <p class="w-72 text-neutral-cool-gray text-gray-300 font-medium mb-3">
              Thanks for confirming your subscription! We hope you have fun using
              our platform. If you ever need support, please feel free to email us
              at support@loremgaming.com.
            </p>
            <a href="/login" class="focus:outline-none disabled:cursor-not-allowed text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Login</a>
          </section>


          <nav *ngIf="!lastPage" [ngClass]="{ 'flex-row': currentStep === 1 }" class="flex items-center justify-end h-fit rounded bg-gray-50 dark:bg-gray-800">
            <button (click)="changePage(false)" *ngIf="currentStep >= 2" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"  type="button">
              Go Back
            </button>
            <button (click)="changePage(true)" *ngIf="currentStep !== 4" [disabled]="updateProfileForm.invalid" class="focus:outline-none disabled:cursor-not-allowed text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" type="button">
              Next step
            </button>
            <button *ngIf="currentStep === 4" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" type="submit">
              {{isSubmitting ? 'Loading': 'Confirm'}}
            </button>
          </nav>
        </form>
      </div>
    </div>
  </div>
</div>
