<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-center items-center">
  <div class="bg-white dark:bg-[#394151] p-6 rounded-lg shadow-lg text-black dark:text-white">
    <h2 class="text-xl font-bold mb-4">Welcome!</h2>
    <p class="mb-4">Here's a quick guide to get you started:</p>
    <ul class="list-disc list-inside mb-4">
      <li>Step 1: Complete your profile.</li>
      <li>Step 2: Select your favorite team.</li>
      <li>Step 3: Choose clubs you want to follow.</li>
      <li>Step 4: Confirm your registration.</li>
    </ul>
    <p class="mb-4">You can always change your preferences later.</p>
    <button (click)="closeModal()" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">      Let's get started
    </button>
  </div>
</div>

<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-800">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 w-fit mx-auto">
    <div class="flex flex-col items-center justify-center h-fit">
      <div class="bg-white dark:bg-[#394151] rounded-lg shadow-lg p-8 w-full">
        <div #topOfPage></div> <!-- Place this at the top of your component or where you want to scroll to -->
        <app-stepper [currentStep]="currentStep" *ngIf="!lastPage"></app-stepper>
        <form (ngSubmit)="onSubmit()" [formGroup]="updateProfileForm" class="mt-4">
          <section *ngIf="currentStep === 1">
            <h1 class="text-2xl mb-2 font-bold xl:text-3xl text-black dark:text-white">Complete profile</h1>
            <div class>
              <!-- First Name -->
              <label class="xl:text-base text-black dark:text-white">First Name</label>
              <div class="relative flex">
                <!-- First Name Input -->
                <input class="h-10 border rounded-md text-gray xl:py-4 w-full"
                       [class.bg-green-50]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched"
                       [class.bg-red-50]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)"
                       [class.border-green-500]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched"
                       [class.border-red-500]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)"
                       [class.text-green-900]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched"
                       [class.text-red-900]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)"
                       formControlName="first_name" placeholder="e.g. John" type="text"/>
              </div>
              <!-- Validation Message -->
              <p class="mt-2 text-sm"
                 [class.text-green-600]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched"
                 [class.text-red-600]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)"
                 [class.dark:text-green-500]="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched"
                 [class.dark:text-red-500]="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)">
                <span class="font-medium" *ngIf="updateProfileForm.controls['first_name'].valid && updateProfileForm.controls['first_name'].touched">Looks good!</span>
                <span *ngIf="updateProfileForm.controls['first_name'].invalid && (updateProfileForm.controls['first_name'].dirty || updateProfileForm.controls['first_name'].touched)">
                  <span *ngIf="updateProfileForm.controls['first_name'].errors?.['required']">First name is required.</span>
                  <!-- Add other specific error messages here -->
                </span>
              </p>
              <!--Last name-->
              <label class="xl:text-base text-black dark:text-white">Last Name</label>
              <div class="relative flex">
                <!-- Last Name Input -->
                <input class="h-10 border rounded-md text-gray xl:py-4 w-full"
                       [class.bg-green-50]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched"
                       [class.bg-red-50]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)"
                       [class.border-green-500]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched"
                       [class.border-red-500]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)"
                       [class.text-green-900]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched"
                       [class.text-red-900]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)"
                       formControlName="last_name" placeholder="e.g. Doe" type="text"/>
              </div>
              <!-- Validation Message -->
              <p class="mt-2 text-sm"
                 [class.text-green-600]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched"
                 [class.text-red-600]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)"
                 [class.dark:text-green-500]="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched"
                 [class.dark:text-red-500]="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)">
                <span class="font-medium" *ngIf="updateProfileForm.controls['last_name'].valid && updateProfileForm.controls['last_name'].touched">Looks good!</span>
                <span *ngIf="updateProfileForm.controls['last_name'].invalid && (updateProfileForm.controls['last_name'].dirty || updateProfileForm.controls['last_name'].touched)">
                  <span *ngIf="updateProfileForm.controls['last_name'].errors?.['required']">Last name is required.</span>
                  <!-- Add other specific error messages here -->
                </span>
              </p>
              <!--Last name-->
              <label class="xl:text-base text-black dark:text-white">Username</label>
              <div class="relative flex">
                <!-- Last Name Input -->
                <input class="h-10 border rounded-md text-gray xl:py-4 w-full"
                       [class.bg-green-50]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched"
                       [class.bg-red-50]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)"
                       [class.border-green-500]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched"
                       [class.border-red-500]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)"
                       [class.text-green-900]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched"
                       [class.text-red-900]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)"
                       formControlName="username" placeholder="e.g. johndoe123" type="text"/>
              </div>
              <!-- Validation Message -->
              <p class="mt-2 text-sm"
                 [class.text-green-600]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched"
                 [class.text-red-600]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)"
                 [class.dark:text-green-500]="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched"
                 [class.dark:text-red-500]="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)">
                <span class="font-medium" *ngIf="updateProfileForm.controls['username'].valid && updateProfileForm.controls['username'].touched">Looks good!</span>
                <span *ngIf="updateProfileForm.controls['username'].invalid && (updateProfileForm.controls['username'].dirty || updateProfileForm.controls['username'].touched)">
                  <span *ngIf="updateProfileForm.controls['username'].errors?.['required']">Username is required.</span>
                  <!-- Add other specific error messages here -->
                </span>
              </p>
              <!-- Birthdate -->
              <label class="xl:text-base text-black dark:text-white">Birthdate</label>
              <div class="relative flex">
                <!-- Birthdate Input -->
                <input class="h-10 border text-gray rounded-md xl:py-4 w-full"
                       [class.bg-green-50]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched"
                       [class.bg-red-50]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)"
                       [class.border-green-500]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched"
                       [class.border-red-500]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)"
                       [class.text-green-900]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched"
                       [class.text-red-900]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)"
                       formControlName="birthdate" type="date"/>
              </div>
              <!-- Validation Message -->
              <p class="mt-2 text-sm"
                 [class.text-green-600]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched"
                 [class.text-red-600]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)"
                 [class.dark:text-green-500]="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched"
                 [class.dark:text-red-500]="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)">
                <span class="font-medium" *ngIf="updateProfileForm.controls['birthdate'].valid && updateProfileForm.controls['birthdate'].touched">Looks good!</span>
                <span *ngIf="updateProfileForm.controls['birthdate'].invalid && (updateProfileForm.controls['birthdate'].dirty || updateProfileForm.controls['birthdate'].touched)">
                  <span *ngIf="updateProfileForm.controls['birthdate'].errors?.['required']">Birthdate is required.</span>
                  <!-- Add other specific error messages here -->
                </span>
              </p>
            </div>
          </section>
          <section *ngIf="currentStep === 2">
            <h2 class="text-2xl text-start font-bold mb-4 xl:text-3xl text-black dark:text-white">Select your favorite team</h2>
            <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 mb-4">
              <div (click)="selectFavorite(team)" *ngFor="let team of teams" [class.selected]="team.favorite" class="team-card mb-4">
                <img alt="{{ team.name }}" src="{{ team.logoPath }}" class="w-24 h-24">
                <p class="text-gray dark:text-white font-bold pt-4">{{ team.name }}</p>
                <div *ngIf="team.favorite" class="star"></div>
              </div>
            </div>
          </section>
          <section *ngIf="currentStep === 3">
            <h2 class="text-2xl text-start font-bold mb-4 xl:text-3xl text-black dark:text-white">Choose clubs you want to follow</h2>
            <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 mb-4">
              <div (click)="toggleTeamFollow(team)" *ngFor="let team of teams" [class.favorite]="team === favoriteTeam" [class.followed]="selectedFollowedTeams.has(team)" class="team-card mb-4">
                <img alt="{{ team.name }}" class="w-24 h-24" src="{{ team.logoPath }}">
                <p class="text-gray dark:text-white font-bold pt-4">{{ team.name }}</p>
                <div *ngIf="team.favorite" class="star"></div>
                <div *ngIf="selectedFollowedTeams.has(team) && team !== favoriteTeam" class="plus-sign">
                  +
                </div>
              </div>
            </div>
          </section>
          <section *ngIf="currentStep === 4 && showSummary">
            <h2 class="text-3xl font-bold text-start mb-4 text-black dark:text-white">Registration Summary</h2>
            <div class="bg-neutral-alabaster py-5 px-4 text-sm rounded-lg xl:text-base text-black dark:text-white">
              <div class="mb-3">
                <h3 class="text-2xl font-semibold">Your Information</h3>
                <p><strong>Name:</strong>
                  <span class="text-gray-300 ml-3">{{ updateProfileForm.get('first_name')?.value }}</span>
                  <span class="text-gray-300">{{ ' ' }}</span>
                  <span class="text-gray-300">{{ updateProfileForm.get('last_name')?.value }}</span>
                </p>
                <p><strong>Email:</strong>
                  <span class="text-gray-300 ml-3">{{ profile?.email }}</span>
                </p>
                <p><strong>Username:</strong>
                  <span class="text-gray-300 ml-3">{{ updateProfileForm.get('username')?.value }}</span>
                </p>
              </div>
              <hr class="text-neutral-cool-gray my-4">
              <div class="mb-3">
                <h3 class="text-2xl font-semibold">Account Details</h3>
                <p class="text-xl"> <strong> Favorite Team</strong></p>
                <p class="text-gray-300" *ngIf="favoriteTeam">{{ favoriteTeam.name }}</p>
                <p class="text-gray-300" *ngIf="!favoriteTeam">Not selected</p>
              </div>
              <div class="mb-3">
                <h3 class="text-xl font-semibold">Clubs You Want to Follow</h3>
                <ul>
                  <li class="text-gray-300" *ngFor="let team of selectedFollowedTeams">{{ team.name }}</li>
                  <li class="text-gray-300" *ngIf="selectedFollowedTeams.size === 0">No clubs selected</li>
                </ul>
              </div>
            </div>
          </section>
          <section *ngIf="lastPage" class="flex flex-col py-14 items-center text-center xl:mt-16 text-black dark:text-white">
            <img alt="" class="w-fit h-fit mb-4 xl:w-[5.25rem] xl:mb-8" src="assets/success.gif"/>
            <h2 class="text-2xl font-bold mb-2 xl:text-4xl">Thank you!</h2>
            <p class="w-72 text-neutral-cool-gray text-gray-300 font-medium mb-3">
              If you ever need support, please feel free to email us
              at <a class="text-blue-500 hover:underline" href="mailto:help@remontada.com">
              help@remontada.com</a>.
            </p>
            <a href="/login" class="focus:outline-none disabled:cursor-not-allowed text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Login</a>
          </section>


          <nav *ngIf="!lastPage" [ngClass]="{ 'flex-row': currentStep === 1 }" class="flex items-center justify-end h-fit rounded bg-gray-50 dark:bg-gray-800 mt-2">
            <button (click)="changePage(false)" *ngIf="currentStep >= 2" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"  type="button">
              Go Back
            </button>
            <button (click)="changePage(true)" *ngIf="currentStep !== 4" [disabled]="updateProfileForm.invalid" class="focus:outline-none disabled:cursor-not-allowed text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" type="button">
              Next step
            </button>
            <button *ngIf="currentStep === 4" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" type="submit" (click)="trackButtonClick()">
              {{isSubmitting ? 'Loading': 'Confirm'}}
            </button>
          </nav>
        </form>
      </div>
    </div>
  </div>
</div>
