<ol class="text-black dark:text-white items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
  <li *ngFor="let step of steps" class="flex items-center space-x-2.5 rtl:space-x-reverse"
      [ngClass]="{'text-purple-600 dark:text-purple-500': currentStep === step, 'text-gray-500 dark:text-gray-400': currentStep !== step}">
    <span class="flex items-center justify-center w-8 h-8 rounded-full shrink-0"
          [ngClass]="{'border border-purple-600 dark:border-purple-500': currentStep === step, 'border border-gray-500 dark:border-gray-400': currentStep !== step}">
      {{ step }}
    </span>
    <span>
      <p class="text-sm text-neutral-cool-gray -mb-[0.25rem]">STEP {{ step }}</p>
      <h3 class="font-medium leading-tight">
        {{
          step === 1 ? 'User Info' :
            step === 2 ? 'Choose your Favourite Club' :
              step === 3 ? 'Choose Clubs You Want to Follow' :
                'Summary'
        }}
      </h3>
    </span>
  </li>
</ol>
