
<section class="bg-dark-mode text-white dark:text-white" xmlns="http://www.w3.org/1999/html">
  <div class="mx-auto  md:flex md:space-x-4 relative px-16 h-screen">    <!-- Add relative positioning to the container -->
    <!-- Logo at the top-left -->
    <img src="assets/logo2.png" alt="Logo" class="top-logo absolute top-0 left-0 z-10"> <!-- Add absolute positioning, and set z-index to 10 -->

    <!-- Login -->
    <aside class="w-full md:w-1/6 flex flex-col items-center justify-center"> <!-- Remove z-index to keep it in front -->
      <!-- Icon -->
      <div class="text-center mb-4">
        <i class="fas fa-question-circle fa-2x text-light-mode-text dark:text-light-mode"></i>
      </div>
      <div>

        <button class="text-white bg-pink hover:bg-gradient-to-br from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 show-login-button">Log In</button>
      </div>
    </aside>
    <aside id="logo-sidebar" class=" bg-dark-mode text-white fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-dark-mode text-white dark:bg-dark-mode">
        <a href="#" class="flex items-center ps-0 mb-5">
          <img src="assets/logo2.png" class="h-14 w-14 me-3" alt="Remontada Logo" />
          <span class="self-center text-3xl font-semibold whitespace-nowrap text-white dark:text-white">Remontada</span>
        </a>
        <ul class="space-y-2 font-medium">
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"/>
              </svg>
              <span class="ms-3">Home</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Explore</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C15 15.4 15 16 14.462 16H1.538C1 16 1 15.4 1 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 8 3.464ZM4.54 16a3.48 3.48 0 0 0 6.92 0H4.54Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Notifications</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 5h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2v3l-4-3H8m4-13H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h2v3l4-3h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Messages</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 11 14H9a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 10 19Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] ttext-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9V4a3 3 0 0 0-6 0v5m9.92 10H2.08a1 1 0 0 1-1-1.077L2 6h14l.917 11.923A1 1 0 0 1 15.92 19Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Points shop</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-400 dark:hover:bg-gray-700 group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
            </a>
          </li>
          <li>
            <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Post</button>

          </li>
        </ul>

        <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-white dark:border-primary-50">
          <li>
            <a href="#" class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700 dark:text-white group">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 15">
                <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3"/>
              </svg>
              <span class="ms-3">Sign out</span>
            </a>
          </li>
          <li>
            <a  class="flex items-center p-2 text-white transition duration-75 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-700 dark:text-white group cursor-pointer">
              <svg class="w-[19px] h-[19px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12.46 7.291 3.849-3.849a1.5 1.5 0 0 1 2.122 0l.127.127a1.5 1.5 0 0 1 0 2.122l-3.839 3.838a4 4 0 0 0-2.259-2.238Zm0 0a4 4 0 0 1 2.263 2.238l3.662-3.662a8.96 8.96 0 0 1 0 10.27l-3.676-3.676m-2.249-5.17 3.677-3.676a8.96 8.96 0 0 0-10.27 0l3.662 3.662a4 4 0 0 0-2.238 2.258L3.615 5.863a8.961 8.961 0 0 0 0 10.27l3.662-3.662a4 4 0 0 0 2.258 2.238l-3.672 3.676a8.96 8.96 0 0 0 10.27 0l-3.662-3.662a4 4 0 0 0 2.238-2.262m0 0 3.849 3.848a1.499 1.499 0 0 1 0 2.122l-.127.126a1.5 1.5 0 0 1-2.122 0l-3.838-3.838a4 4 0 0 0 2.238-2.258ZM15 11a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-7.719 1.471-3.839 3.838a1.5 1.5 0 0 0 0 2.122l.127.126a1.5 1.5 0 0 0 2.122 0l3.848-3.848a4 4 0 0 1-2.258-2.238Zm2.248-5.19L5.691 3.442a1.5 1.5 0 0 0-2.122 0l-.127.127a1.5 1.5 0 0 0 0 2.122l3.849 3.848a4 4 0 0 1 2.238-2.258Z"/>
              </svg>
              <span class="ms-3">Help</span>
            </a>
          </li>
          <li>
<!--            <a class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group cursor-pointer" (click)="toggleTheme()">-->
<!--              <svg *ngIf="!themeService.isDarkModeEnabled()" class="w-[19px] h-[19px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">-->
<!--                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3V1m0 18v-2M5.05 5.05 3.636 3.636m12.728 12.728L14.95 14.95M3 10H1m18 0h-2M5.05 14.95l-1.414 1.414M16.364 3.636 14.95 5.05M14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>-->
<!--              </svg>-->
<!--              <svg *ngIf="themeService.isDarkModeEnabled()" class="w-[19px] h-[19px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">-->
<!--                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z"/>-->
<!--              </svg>-->
<!--              <span class="ms-3">{{themeService.isDarkModeEnabled()? 'Light' : 'Dark'}} Mode</span>-->
<!--            </a>-->
          </li>
        </ul>
      </div>
    </aside>
    <!-- Main Content and Posts/Matches -->
    <div class="w-full mx-auto my-0 max-w-screen-xl light-mode-text  px-40 h-full"> <!-- Adjust the width to 4/6 -->
      <!-- Main Content -->
      <div class="h-1/6 pt-7 px-4">
        <!-- Search Bar -->
        <div class="flex bg-dark-gray rounded-full p-1">
          <form class="flex items-center flex-1 ">
            <img src="./assets/search-137.png" class="mx-2 w-5 h-5">
            <input type="text" name="searchbar" class="block w-full border-0 bg-transparent py-1.5 pl-1 text-gray-200 placeholder:text-gray-400 focus:ring-0 sm:text-xl sm:leading-6" placeholder="search">
          </form>
        </div>
        <!-- Links for posts/matches -->
        <nav class="flex justify-center py-4 space-x-4">
          <a routerLink="/posts" class="light-mode-text hover:light-mode-text focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5">Posts</a>
          <a routerLink="/games" class="light-mode-text hover:light-mode-text focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">Games</a>
        </nav>
        <!-- Add the rest of your main content here -->
      </div>
      <!-- Posts and Matches come here -->
      <div class="w-full mx-auto max-w-screen-xl h-5/6 pt-8">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Settings -->
    <aside class="w-full md:w-1/6"> <!-- Adjust the width to 1/6 and remove padding classes -->
      <div class="mb-4">
<!--        <h4 class="text-lg font-semibold text-light-mode-text dark:text-light-mode">Settings</h4>-->
<!--        <ul>-->
<!--          <li>Setting 1</li>-->
<!--        </ul>-->

        <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 ml-8 mt-8 mb-2">Log In</button>
        <!-- Next Match -->
      </div>
      <div class="dark:bg-gray-900 rounded-lg shadow-md mt-8 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <span class="text-white content-center mt-3 text-xl">Next Match</span>
        </div>
        <div class ="flex items-center justify-center">
          <img src="../assets/team1-icon.png" alt="Team 1" class="w-20 h-20 rounded-full mt-2">
        </div>
        <div class="flex flex-col items-center justify-center">
          <span class="text-white mt-3 text-l">KV Kortrijk</span>
          <span class="text-white text-l">Tue, 26 oct 21:00</span>
        </div>
      </div>
      <div class="dark:bg-gray-900 rounded-lg shadow-md mt-5 mb-8 grid grid-cols-1 md:grid-cols-1 gap-2 w-full">
        <div class="flex justify-center">
          <span class="text-white content-center mt-3 text-xl">Raymontada League</span>
        </div>
        <div class ="flex items-center justify-center">
          <img src="../assets/img.png" alt="Raymontada League" class="w-32 h-32 rounded-full mt-2">
        </div>
        <div class="flex flex-col items-center justify-center">
          <span class="text-white mb-3 mx-4 text-sm">Login Required</span>
        </div>
        <div class="mb-3 grid grid-cols-1 md:grid-cols-1 gap-1 mx-2">
          <!-- Rankings -->
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Team 1" class="w-6 h-6 rounded-full object-cover">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#1</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player One</div>
            </div>
          </div>
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Team 1" class="w-6 h-6 rounded-full object-cover">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#2</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Two</div>
            </div>
          </div>
          <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-1 flex items-center justify-between">
            <div class="flex items-center">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Team 1" class="w-6 h-6 rounded-full object-cover">
              <span class="font-semibold text-xs text-light-mode-text dark:text-light-mode ml-1">#3</span>
            </div>
            <div class="flex-1 items-center ml-3">
              <div class="font-bold text-xs text-light-mode-text dark:text-light-mode">Player Three</div>
            </div>
          </div>
          <!-- Repeat the structure for each match, replacing team names, scores, and image sources -->
        </div>
      </div>
    </aside>
  </div>
</section>

<!--<footer class="rounded-lg shadow m-4 bg-light-mode-text dark:bg-dark-mode">-->
<!--  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">-->
<!--    <span class="text-sm sm:text-center text-white dark:text-white">© 2023 <a href="https://flowbite.com/" class="hover:underline text-white dark:text-white">Remontada™</a>. All Rights Reserved.</span>-->
<!--    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-white sm:mt-0">-->
<!--      <li>-->
<!--        <a href="#" class="mr-4 hover:underline md:mr-6 text-white dark:text-white">About</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="mr-4 hover:underline md:mr-6 text-white dark:text-white">Privacy Policy</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="mr-4 hover:underline md:mr-6 text-white dark:text-white">Licensing</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="hover:underline text-white dark:text-white">Contact</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</footer>-->



<style>
  /* Reset margin and padding for Login and Settings sections */
  aside {
    margin: 0;
    padding: 0;
  }

  /* CSS for a larger logo at the top */
  .top-logo {
    width: 250px; /* Adjust the width as needed for a larger logo */
    height: 250px; /* Adjust the height as needed for a larger logo */
    left: 6%; /* Horizontally centered */
    transform: translateX(-50%); /* Horizontally centered */
    z-index: 0; /* Behind other content */
  }

</style>
