
<app-common>
  <div class="edit-bg"  *ngIf="isOwnProfile">
    <div class="absolute top-0 right-0 sm:p-4">
      <button class="m-2 bg-white bg-opacity-50 rounded-lg transform hover:scale-105 w-8 h-8">
        <img (click)="openBgImageSelectorModal()" alt="edit icon" class="transition-transform w-full h-full" src="assets/icons/Edit_Cover_Photo.svg">
      </button>
    </div>
  </div>

  <div class="first-code">
    <div class="flex items-start" *ngIf="!isOwnProfile">
      <button (click)="friendRequestStatus === 'friends' ? removeFriend() : addFriend()" class="flex items-center focus:outline-none my-3 mx-1">
        <span class="text-light-mode-text dark:text-primary-100 font-extralight text-sm sm:text-md md:text-xl 2xl:text-2xl px-1">{{ friendRequestStatus === 'none' ? 'Add Friend' : (friendRequestStatus === 'friends' ? 'Following' : 'Requested') }}</span>
      </button>
    </div>
    <div   *ngIf="isOwnProfile">
      <a href="/settings" class="flex items-center my-3 px-1">
        <span class="text-light-mode-text dark:text-primary-100 font-extralight text-sm sm:text-md md:text-xl 2xl:text-2xl">Edit Profile</span>
        <img class="w-8 h-8" src="../../../../assets/icons/edit-pencil-primary-100.svg">
      </a>
    </div>
  </div>

  <div class="second-code">
      <div class="flex bg-white dark:bg-test border-2 border-gray-600 rounded-full shadow-sm p-1 mb-4">
        <div class="flex-none">
          <img [src]="avatarSafeUrl" alt="Profile picture" class="w-10 h-10 lg:w-10 lg:h-10 rounded-full mr-4">
        </div>
        <div class="flex-1 rounded-lg  text-white">
          <form class="w-full border-0">
            <input type="text" name="postForm" class="min-w-full bg-transparent text-gray-200 border-transparent placeholder:text-gray-400" placeholder="Start a Post"
                   readonly (click)="openCreatePostModal()">
          </form>
        </div>
      </div>
  </div>
</app-common>
