
<app-common>
  <div class="edit-bg"  *ngIf="isOwnProfile">
    <div class="absolute top-0 right-0 p-4">
      <button class="px-4 py-2 rounded">
        <img (click)="openBgImageSelectorModal()" alt="edit icon" class="w-12 h-12" src="assets/icons/edit-pencil.svg">
      </button>
    </div>
  </div>

  <div class="first-code">
    <div class="flex items-start" *ngIf="!isOwnProfile">
      <button (click)="friendRequestStatus === 'friends' ? removeFriend() : addFriend()" class="flex items-center border-very-light-purple dark:border-lighter-purple border-2 rounded-lg focus:outline-none m-2 p-1">
        <span class="text-light-mode-text dark:text-primary-100 text-lg md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl p-1">{{ friendRequestStatus === 'none' ? 'Add Friend' : (friendRequestStatus === 'friends' ? 'Following' : 'Requested') }}</span>
      </button>
    </div>

    <div class="flex items-start"  *ngIf="isOwnProfile">
      <a href="/settings" class="flex items-center m-2 p-1 rounded-2xl">
        <span class="text-light-mode-text dark:text-primary-100 text-lg md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl">Settings</span>
      </a>
    </div>
  </div>

  <div class="second-code">

      <div class="flex bg-white dark:bg-test border-2 border-gray-600 rounded-full shadow-sm p-2 mb-4">
        <div class="flex-none">
          <img [src]="avatarSafeUrl" alt="Profile picture" class="w-6 h-6 lg:w-10 lg:h-10 rounded-full mr-4">
        </div>
        <div class="flex-1 rounded-lg  text-white">
          <form class="w-full border-0">
            <input type="text" name="postForm" class="min-w-full bg-transparent text-gray-200 border-transparent placeholder:text-gray-400" placeholder="Start a Post"
                   readonly (click)="openCreatePostModal()">
          </form>
        </div>
      </div>
  </div>
</app-common>
