<div *ngIf="loading; else loadedContent">
  <div class="text-center h-screen flex items-center justify-center">
    <div role="status">
      <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<ng-template #loadedContent>
<section class="bg-light-mode dark:bg-dark-mode sm:dark:bg-green-400 md:dark:bg-red-600 lg:dark:bg-yellow-300 xl:dark:bg-lighter-purple 2xl:dark:bg-amber-900" >
  <div class="bg-light-mode dark:bg-dark-mode my-2 md:my-4 lg:ml-64 sm:mx-4 rounded-t-md md:rounded-t-lg lg:rounded-t-xl xl:rounded-t-2xl 2xl:rounded-t-3xl">
    <!-- Cover photo -->
    <div class="flex items-center dark:bg-dark-gray max-h-96 relative overflow-hidden rounded-t-md md:rounded-t-lg lg:rounded-t-xl xl:rounded-t-2xl 2xl:rounded-t-3xl">
      <img class="object-contain min-w-full h-full rounded-t-md md:rounded-t-lg lg:rounded-t-xl xl:rounded-t-2xl 2xl:rounded-t-3xl" [src]="bgImageSafeUrl" alt="None">
      <div>
        <ng-content select=".edit-bg"></ng-content>
      </div>
    </div>


      <!-- Profile Info -->
      <div class=" bg-white dark:bg-test shadow-sm w-full">
        <div class="flex justify-between">
          <div class="flex px-2 py-4 z-10">
            <div class="flex items-center h-20 w-20 md:h-28 md:w-28 lg:h-32 lg:w-32 xl:h-40 xl:w-40 2xl:h-44 2xl:w-44 lg: -mt-12 xl:-mt-16 bg-white dark:bg-test rounded-full overflow-hidden">
              <img [src]="avatarSafeUrl" alt="Avatar" class="h-full w-full object-cover border-primary">
            </div>

            <div class="flex-col justify-center -mt-4 md:-mt-2 xl:ml-4">
              <p class="text-light-mode-text dark:text-primary-100 text-sm sm:text-md md:text-2xl 2xl:text-3xl pl-2 mt-1">{{username}}</p>
              <div class="flex justify-start  -ml-8  md:-ml-10 md:t-1   lg:-ml-12 lg:mt-3  xl:-ml-20 xl:mt-4  2xl:-ml-20 xl:mt-6">
                <div class="bg-white  p-0.5 lg:p-1  w-6 h-6  md:w-9 md:h-9  lg:w-10 lg:h-10  xl:w-12 xl:h-12  2xl:w-14 2xl:h-14  rounded-full">
                  <img class="w-full h-full" [src]="favClub?.logo">
                </div>
              </div>
            </div>
          </div>

          <!-- Start: Own profile only -->
          <div class="md:p-4 -mt-2 md:-mt-3">
            <ng-content select=".first-code"></ng-content>
          </div>
          <!-- End: Own profile only -->
        </div>
      </div>

      <!-- Content for Link 1 -->
      <div class="flex flex-col bg-white dark:bg-test rounded-b-lg xl:flex-row">
        <div class="flex flex-col flex-1 h-[510px] overflow-x-hidden">
          <div class="px-2 sm:px-8 bg-white dark:bg-test shadow-sm">
            <ul class="flex justify-around border-y-1 dark:border-dark-mode-text w-full">
              <li *ngFor="let link of infoString; let i = index"
                  class="text-light-mode-text dark:text-primary-100 font-light text-xs sm:text-sm md:text-xl lg:text-lg xl:text-xl 2xl:text-2xl py-3">
                <button (click)="changeContent('link' + (i + 1))"
                        [ngClass]="{'font-medium': selectedLink === 'link' + (i + 1), 'text-primary-300': selectedLink === 'link' + (i + 1)}">
                  {{ link }}
                </button>
              </li>
            </ul>
          </div>
          <div class="flex-grow">

            <!-- Friends -->
            <ng-container *ngIf="selectedLink === 'link1'">
              <div class="flex items-center bg-white dark:bg-test shadow-sm rounded-b-lg p-4 2xl:p-8 h-full w-full">
                <div class="bg-light-mode-acc content-center dark:bg-dark-mode shadow mx-auto p-2 lg:p-4 rounded-2xl max-w-fit max-h-fit">
                  <ng-container *ngIf="friendsList.length !== 0">
                    <ul class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-2">
                      <li *ngFor="let friend of friendsList.slice(0,12)" class="xl:mb-2 xl:mx-2">
                        <div class="flex items-center justify-between bg-white dark:bg-test dark:bg-gray-800 rounded-lg shadow-md md:p-1">
                          <img [src]="friend.avatarSafeUrl || '/assets/User-Profile-PNG_Image.png'" alt="{{friend.profile.username}}" class="w-4 h-4 md:w-8 md:h-8 xl:w-10 xl:h-10 rounded-full object-cover">
                          <span (click)="onFriendClick(friend.profile.id)" class="cursor-pointer mx-1 xl:mx-2 font-light text-xs sm:text-sm md:text-md 2xl:text-lg text-light-mode-text dark:text-primary-100">{{ limitUsernameLength(friend.profile.username, 16) }}</span>
                          <div *ngIf="checkVisitor(friend.profile.id)">
                            <img [src]="'../assets/icons/' + (friend.commonFriend === true ? friendActions[0] : friendActions[1] )" (click)="friend.commonFriend === true ? removeFriend(friend.profile.id) : addFriend(friend.profile.id)" class="w-3 h-3 md:w-6 md:h-6 xl:w-6 xl:h-6 cursor-pointer">
                          </div>
                          <div *ngIf="!checkVisitor(friend.profile.id)"></div>
                        </div>
                      </li>
                    </ul>
                    <div class="flex justify-center transform hover:scale-105 ">
                      <!-- Show More button -->
                      <button (click)="openModal()" class="text-light-mode-text dark:text-primary-100 text-xs sm:text-sm md:text-md lg:text-lg xl:text-xl rounded-2xl pt-1">Show
                        More
                      </button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="friendsList.length === 0">
                    <div class="flex flex-col">
                      <div class="flex flex-col max-w-sm mx-4">
                        <h1 class="text-light-mode-text dark:text-primary-200 text-sm lg:text-lg ">You haven't added any friends</h1>
                        <p class="text-light-mode-text dark:text-primary-100 font-light text-xs ">It seems like you haven't made any friends yet.You can search for friends by pressing the search button in the sidebar</p>
                      </div>
                      <div class="h-52 lg:h-72 p-4 lg:m-0.5">
                        <img src="assets/icons/FriendsIcon.svg" class="mx-auto h-full">
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-30" id="friendListModal">
                <div class="flex flex-col bg-light-mode dark:bg-dark-mode p-4 rounded-lg h-4/5 ">
                  <h1 class="text-2xl text-light-mode-text dark:text-primary-100 font-bold mb-4">Friends List</h1>
                  <ul class="flex-grow p-4 dark:bg-dark-gray rounded-lg overflow-y-auto overscroll-contain">
                    <li *ngFor="let friend of friendsList" class="mb-2">
                      <div class="flex items-center justify-between bg-white dark:bg-test dark:bg-gray-800 rounded-lg shadow-md my-1 p-1">
                        <img [src]=" friend.avatarSafeUrl || '/assets/User-Profile-PNG-Image.png'" alt="{{ friend.profile.username }}" class="w-10 h-10 rounded-full object-cover">
                        <span (click)="onFriendClick(friend.profile.id)" class="cursor-pointer mx-8 font-light text-lg text-light-mode-text dark:text-primary-100">{{ friend.profile.username }}</span>
                        <img  [src]="'../assets/icons/' + (friend.commonFriend === true ? friendActions[0] : friendActions[1] )" (click)="friend.commonFriend === true ? removeFriend(friend.profile.id) : addFriend(friend.profile.id)" class="cursor-pointer w-6 h-6">
                      </div>
                    </li>
                  </ul>
                  <div class="flex justify-center items-center mt-4">
                    <button (click)="closeModal()" class="bg-very-light-purple text-light-mode-text px-4 py-2 rounded">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>



            <!-- Content for Link 2 -->
            <ng-container *ngIf="selectedLink === 'link2'">

              <div class="flex items-center justify-center bg-white dark:bg-test shadow-sm rounded-b-lg p-2 sm:px-1 md:px-4 lg:px-8 2xl:p-8 py-4 h-full ">
                <ng-container *ngIf="userLeagues.length !== 0">
                  <div class="flex flex-col bg-light-mode-acc dark:bg-dark-mode shadow p-2 lg:py-4 rounded-2xl max-w-full">
                    <h1 class="flex justify-center text-light-mode-text dark:text-primary-100 text-sm md:text-md md:text-lg lg:text-xl mb-2">{{ profile?.first_name }}'s Leagues</h1>
                    <!-- Horizontally Scrollable Container -->
                    <div class="flex flex-row flex-nowrap overflow-x-auto hide-scrollbar py-2">
                      <ng-container *ngFor="let league of userLeagues">
                        <div class="flex flex-col items-center text-dark-mode dark:text-light-mode bg-white dark:bg-test shadow rounded-lg p-1 lg:p-2 mx-2">
                          <p class="text-center text-dark-mode dark:text-primary-200 font-medium">{{ limitUsernameLength(league.leagueName, 16) }}</p>
                          <p class="text-center text-xs text-dark-mode dark:text-primary-100">{{ 'Position: #' + league.currentUserPosition }}</p>
                          <!-- Leaderboard Section -->
                          <div class="leaderboard mt-2">
                            <ul class="text-xs">
                              <li *ngFor="let member of league.topMembers; let i = index" [ngClass]="{'bg-lighter-purple': isCurrentUser(member.userid), 'border-purple-500 border-2': !isCurrentUser(member.userid)}" class="user-card rounded-lg p-2 mx-2 flex items-center justify-between shadow-lg relative">
                                <!-- Medal Icons -->
                                <span *ngIf="i === 0" class="text-gold mr-2">🥇</span>
                                <span *ngIf="i === 1" class="text-silver mr-2">🥈</span>
                                <span *ngIf="i === 2" class="text-bronze mr-2">🥉</span>
                                <!-- Member Details -->
                                <span>{{ member.username }}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="userLeagues.length === 0">
                  <div class="bg-light-mode-acc content-center dark:bg-dark-mode shadow mx-auto p-2 lg:p-4 rounded-2xl max-w-fit max-h-fit">
                    <div class="flex flex-col">
                      <div class="flex flex-col max-w-sm mx-4">
                        <h1 class="text-light-mode-text dark:text-primary-200 text-sm lg:text-lg ">You haven't joined any Leagues</h1>
                        <p class="text-light-mode-text dark:text-primary-100 font-light text-xs ">It seems like you haven't joined any leagues yet.You can create leagues by pressing the League button in the sidebar</p>
                      </div>
                      <div class="h-44 lg:h-64 p-4">
                        <img src="assets/icons/League_EmptyState.svg" class="mx-auto w-full h-full">
                      </div>
                      <p class="text-light-mode-text dark:text-primary-100 font-normal text-xs md:text-sm mx-auto py-2">Head to <a href="/league" class="font-medium dark:text-primary-300">League</a></p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>

            <!-- Link 3 -->
            <ng-container *ngIf="selectedLink === 'link3'">
              <!-- Content for Link 3 -->
              <div *ngIf="!isOwnProfile">
                <div class="bg-white dark:bg-test rounded-b-lg p-4 md:p-8 h-full">
                  <div>
                    <h2 class="text-light-mode-text dark:text-primary-300 text-lg md:text-3xl">
                      <a class="">About</a>
                    </h2>
                    <ul>
                      <li class="py-1 sm:py-2"><p class="text-light-mode-text dark:text-primary-100 text-xs sm:text-sm md:text-xl">Full
                        name: {{profile?.first_name}} {{profile?.last_name}}</p></li>
                      <li class="py-1 sm:py-2"><p class="text-light-mode-text dark:text-primary-100 text-xs sm:text-sm md:text-xl">
                        Birthdate: {{profile?.birthdate}}</p></li>
                      <li class="py-1 sm:py-2"><p class="text-light-mode-text dark:text-primary-100 text-xs sm:text-sm md:text-xl">Favorite
                        Team: {{favoriteClub}} </p></li>
                      <li class="py-1 sm:py-2"><p class="text-light-mode-text dark:text-primary-100 text-xs sm:text-sm md:text-xl">
                        Following Teams: {{getFollowingTeams()}}</p></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Bettinglist -->
              <div *ngIf="isOwnProfile">

              </div>
            </ng-container>

            <!-- Link 4 -->
            <ng-container *ngIf="selectedLink === 'link4'">
              <div class="flex items-center justify-center bg-white dark:bg-test shadow-sm rounded-b-lg px-2 py-4 sm:px-1 md:px-4 lg:px-8 2xl:p-8 h-full">
                <ng-container *ngIf="ownedPlayersDetails.length !== 0">
                <div class="flex flex-col bg-light-mode-acc dark:bg-dark-mode shadow px-2 lg:px-4 py-2 rounded-2xl h-full">
                  <h1 class="flex justify-center text-light-mode-text dark:text-primary-100 text-sm md:text-md md:text-lg lg-text-xl mb-2"> {{profile?.first_name}}'s Owned Players</h1>
                  <div class="flex flex-row justify-around"><div class="grid grid-cols-3 lg:grid-cols-4 gap-2 2xl:gap-4 overflow-y-auto scrollbar-hide sm:h-96 md:h-88">
                    <ng-container *ngFor="let player of ownedPlayersDetails">
                      <div class="flex flex-col items-center justify-center text-dark-mode dark:text-light-mode bg-white dark:bg-test shadow rounded-lg p-1 lg:p-2 h-full">
                        <img class="w-12 h-12 md:w-14 md:h-14 xl:w-14 xl:h-14 2xl:h-16 2xl:w-16" [src]="player.photo" alt="{{ player.name }}">
                        <p class="text-center text-dark-mode dark:text-light-mode">{{ player.name }}</p>
                        <p class="text-center text-sm text-dark-mode dark:text-light-mode">{{ player.clubname }}</p> <!-- Display club name -->
                      </div>
                    </ng-container>
                  </div>
                  </div>
                </div>
                </ng-container>
                <ng-container *ngIf="ownedPlayersDetails.length === 0">
                  <div class="bg-light-mode-acc content-center dark:bg-dark-mode shadow mx-auto p-2 lg:p-4 rounded-2xl max-w-fit max-h-fit">
                    <div class="flex flex-col">
                      <div class="flex flex-col max-w-sm mx-4">
                        <h1 class="text-light-mode-text dark:text-primary-200 text-sm lg:text-lg  ">You haven't bought any players</h1>
                        <p class="text-light-mode-text dark:text-primary-100 font-light text-xs ">It seems like you haven't bought any players yet.You can buy players in the Point Shop</p>
                      </div>
                      <div class="h-44 lg:h-64 p-4">
                        <img src="assets/icons/PointsShop_EmptyState.svg" class="mx-auto w-full h-full">
                      </div>
                      <p class="text-light-mode-text dark:text-primary-100 font-normal text-xs md:text-sm mx-auto py-2">Head to <a href="/league" class="font-medium dark:text-primary-300">Points Shop</a></p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="border-4 dark:border-dark-mode rounded-xl p-1 mb-4 mx-4">
        <div class="flex-col bg-white dark:bg-test shadow-sm rounded-lg p-2 xl:p-4 m-2 relative">
          <div class="opacity-30 p-6 ">
            <h1 class="flex justify-center text-light-mode-text dark:text-primary-100 text-md md:text-lg lg-text-xl py-2">Achievements</h1>
            <div class="bg-light-mode-acc dark:bg-dark-mode px-2 lg:px-4 py-2 lg:py-4 rounded-lg">
              <div class="flex flex-col gap-2 lg:gap-4">
                <ng-container *ngFor="let achievement of achievementList; let i = index">
                  <div *ngIf="i < 3" class="flex flex-col items-center bg-white shadow-sm dark:bg-test rounded-md p-1 lg:p-2">
                    <img class="w-12 h-12 md:w-14 md:h-14 xl:w-16 xl:h-16" src="../assets/img.png">
                    <h1 class="text-light-mode-text dark:text-primary-100 text-xs md:text-sm lg:text-lg"> {{achievement}} </h1>
                  </div>
                </ng-container>
                <!-- Additional items if needed -->
              </div>
            </div>
          </div>
          <div class="flex justify-center items-center rounded-md absolute top-1/2 left-1/2 w-[85%] transform -translate-x-1/2 bg-dark-mode p-1">
            <h1 class="text-white md:text-xl lg:text-2xl">Coming Soon</h1>
          </div>
        </div>
        </div>
      </div>

    <!-- Start: Own profile only -->
    <div *ngIf="isOwnProfile" class=" my-4">
      <ng-content select=".second-code">

      </ng-content>
    </div>
    <!-- End: Own profile only-->

    <!-- Posts -->
    <div class="bg-white dark:bg-test shadow my-4 px-4 py-2 rounded-lg">

      <!-- Post Navbar -->
      <div class="px-4 bg-white dark:bg-test rounded-t-lg">
        <ul class="flex justify-around">
          <li
            class="bg-light-mode-acc dark:bg-search-bar px-4 py-2 text-light-mode-text dark:text-primary-100 text-2xl rounded-t-3xl">
            <p>{{postString[0]}}</p></li>
        </ul>
      </div>

      <!-- User Posts -->
      <div class=" px-4 bg-light-mode-acc dark:bg-search-bar shadow mx-2 rounded-lg">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

          <!-- Post 1 -->
          <div *ngIf="posts.length > 0; else noPosts">
            <div *ngFor="let post of posts" class="my-4">
              <div (click)="onPostClick(post.id)">
                <app-post-view [clickable]="(authService.isAuthenticated$ | async) ?? false"
                               [post]="post"></app-post-view>
              </div>
            </div>
          </div>

          <!-- No posts message -->
          <ng-template #noPosts>
            <div class="text-center py-10">
              <p class="text-gray-600 dark:text-primary-100">No posts yet.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
</ng-template>
