<section class="bg-light-mode dark:bg-dark-mode">

  <div class="my-8 mx-40 bg-dark-mode sm:ml-64 rounded-3xl">
    <!-- Cover photo -->
    <div class="flex items-center max-h-96 relative overflow-hidden rounded-t-3xl">
      <img src="../assets/images/KVK.png" class="object-cover min-w-full h-full rounded-3xl">
    </div>


    <!-- Profile Info -->
    <div class="bg-test w-full mb-4 rounded-b-lg">
      <div class="flex justify-between">
        <div class="flex p-4 z-10">
          <div class=" flex items-center h-44 w-44 -mt-16 bg-test rounded-full overflow-hidden">
            <img src="assets/User-Profile-PNG-Image.png" class="h-full w-full object-cover border-primary">
          </div>

          <div class="flex-col justify-center">
            <p class="text-primary-100 text-2xl">Username Username</p>
            <div class="flex justify-start">
              <img src="assets/logos/KV_Kortrijk_logo.svg" class=" my-1 w-16 h-16">
            </div>
          </div>
        </div>

        <!-- Start: Own profile only -->
        <div>
          <ng-content select=".first-code"></ng-content>
        </div>
        <!-- End: Own profile only -->

      </div>
      <div class="px-8 py-2">
        <ul class="flex mb-4 border-y-1 border-dark-mode-text">
          <li class="text-primary-100 text-2xl my-4 mx-12"><a href="#">Info</a></li>
          <li class="text-primary-100 text-2xl my-4 mx-12"><a href="#">Info</a></li>
          <li class="text-primary-100 text-2xl my-4 mx-12"><a href="#">Info</a></li>
          <li class="text-primary-100 text-2xl my-4 mx-12"><a href="#">Info</a></li>
        </ul>
      </div>
    </div>

    <!-- Start: Own profile only -->
    <div>
      <ng-content select=".second-code"></ng-content>
    </div>
    <!-- End: Own profile only-->

    <!-- Posts -->
    <div class="bg-test px-4 py-2 rounded-lg">

      <!-- Post Navbar -->
      <div class="px-4 bg-test rounded-t-lg">
        <ul class="flex justify-around">
          <li class="bg-lighter-purple px-4 py-2 text-white text-2xl rounded-t-3xl"><a href="#">Posts</a></li>
          <li class="bg-lighter-purple px-4 py-2 text-white text-2xl rounded-t-3xl"><a href="#">Likes</a></li>
          <li class="bg-search-bar px-4 py-2 text-white text-2xl rounded-t-3xl"><a href="#">Mentions</a></li>
        </ul>
      </div>

      <!-- User Posts -->
      <div class=" p-4 bg-search-bar mx-2 rounded-lg">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

          <!-- Post 1 -->
          <div class="post-card bg-light-mode-text dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
            <div class="post-header flex-none">
              <img src="../../../../assets/User-Profile-PNG-Image.png" alt="Profile picture"
                   class="w-10 h-10 rounded mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body flex-1 bg-dark-mode rounded-lg p-4 text-white">
              <p>rum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum
                ipsum lorum ipsum</p>
            </div>
          </div>

          <!-- Post 2 -->
          <div class="post-card bg-light-mode-text dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
            <div class="post-header flex-none">
              <img src="../../../../assets/User-Profile-PNG-Image.png" alt="Profile picture"
                   class="w10 h-10 rounded mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body flex-1">
              <p>Man United won!</p>
              <div class="bg-dark-mode dark:bg-gray-800 rounded-lg shadow-md p-4 flex items-center justify-between">
                <div class="flex items-center">
                  <img src="../../../../assets/team1-icon.png" alt="Team 1" class="w-10 h-10 rounded-full mr-4">
                  <span class="font-semibold text-lg text-white">Team 1</span>
                </div>
                <span class="font-bold text-xl text-white">2 - 1</span>
                <div class="flex items-center">
                  <span class="font-semibold text-lg text-white">Team 2</span>
                  <img src="../../../../assets/logo1.png" alt="Team 2" class="w-10 h-10 rounded-full ml-4">
                </div>
              </div>
            </div>
          </div>

          <!-- Post 3 -->
          <div class="post-card bg-light-mode-text dark:bg-gray-900 rounded-lg shadow-md p-4">
            <div class="post-header items-center mb-4">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture"
                   class="w-10 h-10 rounded-full  mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body">
              <p>Go Rashford!!</p>
              <div class="bg-dark-mode dark:bg-gray-800 rounded-lg shadow-md p-4 flex items-center justify-center">
                <img src="../assets/Football.png" alt="Football" class="w-10 h-10 rounded-full mr-4">
                <span class="font-semibold text-lg text-white">Goal by Rashford</span>
              </div>
            </div>
          </div>


          <!-- Post 4 -->
          <div class="post-card bg-light-mode-text dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
            <div class="post-header flex-none">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body flex-1">
              <p>Appreciation post</p>
              <img src="../assets/Rashford-MUFC.png" alt="Rashford">
            </div>
          </div>

          <!-- Post 5 -->
          <div class="post-card bg-light-mode-text dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
            <div class="post-header flex-none">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body flex-1">
              <p>Some random posts<br><br><br><br><br><br><br><br></p>
            </div>
          </div>

          <!-- Post 6 -->
          <div class="post-card bg-light-mode-text dark:bg-dark-gray-900 rounded-lg shadow-md p-4 flex">
            <div class="post-header flex-none">
              <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
              <span class="text-xs text-white">Username</span>
            </div>
            <div class="post-body flex-1">
              <p>Some random posts<br><br><br><br><br><br><br><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
