<div class="bg-dark-mode min-h-screen p-6">
  <!-- Tabbed Navigation -->
  <div class="tabs bg-dark-mode text-center p-4">
    <button (click)="currentView = 'global'" [ngClass]="{'active': currentView === 'global'}" class="tab text-2xl px-6 py-3 m-2">
      Global League
    </button>
    <button (click)="currentView = 'friends'" [ngClass]="{'active': currentView === 'friends'}" class="tab text-2xl px-6 py-3 m-2">
      Friends League
    </button>
  </div>

  <!-- Content for Global League -->
  <div *ngIf="currentView === 'global'">
    <app-league></app-league> <!-- Your existing LeagueComponent for Global League -->
  </div>

  <!-- Content for Friends League -->
  <div *ngIf="currentView === 'friends'">
    <app-createleague></app-createleague> <!-- Component for Friends League -->
  </div>
</div>
