<!-- Posts -->
  <div class="mt-8 grid grid-cols-1 md:grid-cols-1 gap-4 overflow-y-auto" style="max-height: 410px">
    <!-- Post 1 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
            <span class="text-white">
            Lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum
            lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum
            </span>
      </div>
    </div>
    <!-- Post 2 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
        <span class="text-white">Man United won!</span>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 flex items-center justify-between">
          <div class="flex items-center">
            <!-- Team 1 Icon -->
            <img src="../assets/team1-icon.png" alt="Team 1" class="w-10 h-10 rounded-full mr-4">
            <span class="font-semibold text-lg text-light-mode-text dark:text-light-mode">Team 1</span>
          </div>
          <div class="font-bold text-xl text-light-mode-text dark:text-light-mode">2 - 1</div>
          <div class="flex items-center">
            <span class="font-semibold text-lg text-light-mode-text dark:text-light-mode">Team 2</span>
            <!-- Team 2 Icon -->
            <img src="/assets/logo1.png" alt="Team 2" class="w-10 h-10 rounded-full ml-4">
          </div>
        </div>
      </div>
    </div>
    <!-- Post 3 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
            <span class="text-white">
            Go Rashford!!
            </span>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 flex items-center justify-center">
          <div class="flex items-center">
            <img src="../assets/Football.png" alt="Post 3" class="w-10 h-10 rounded-full mr-4">
            <span class="font-semibold text-lg text-light-mode-text dark:text-light-mode ">Goal by Rashford</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Post 4 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
            <span class="text-white">
            Appreciation post
            </span>
        <img src="../assets/Rashford-MUFC.png">
      </div>
    </div>
    <!-- Post 5 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
            <span class="text-white">
            Some random posts
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </span>
      </div>
    </div>
    <!-- Post 6 -->
    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-4 flex">
      <div class ="flex-none">
        <img src="../assets/User-Profile-PNG-Image.png" alt="Profile picture" class="w10 h-10 rounded mr-4">
        <span class="text-xs text-white">Username</span>
      </div>
      <div class ="flex-1">
            <span class="text-white">
            Some random posts
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </span>
      </div>
    </div>
  </div>






