<div class="rankings-section bg-dark-mode rounded-lg w-full max-w-4xl text-white flex justify-center items-center">
  <div class="flex flex-col text-lg items-center gap-4">
    <!-- Loop over each league -->

    <!-- Start ng-container for league -->
    <ng-container *ngFor="let league of leagues">
      <!-- Only render this section if 'league.id' is defined -->
      <ng-container *ngIf="league.id as leagueId">
      <h2 class="text-2xl font-bold">{{ league.name }}</h2>
      <div *ngFor="let member of leagueMembers[leagueId]; let i = index" class="user-card bg-lighter-purple rounded-lg p-4 w-full max-w-sm flex items-center justify-between shadow-lg relative">
      <!-- Use a similar indicator logic for members based on their index -->
        <div *ngIf="i < 3" class="indicator-bar bg-green-500 absolute left-0 top-0 bottom-0 w-2"></div>
        <div *ngIf="leagueMembers[league.id].length - i <= 3" class="indicator-bar bg-red-500 absolute left-0 top-0 bottom-0 w-2"></div>
        <span class="font-bold ml-4">
          <span class="user-details">
            <!-- Ranking number based on their index within the league -->
            <span *ngIf="i>=0" class="rank-number">{{ i + 1 }}</span>
            <!-- Display member details here -->
            <span class="username">{{ member.username }}</span>
          </span>
        </span>
        <div class="flex items-center">
          <!-- Use a similar logic for arrows based on their index -->
          <span *ngIf="i < 3" class="text-green-500 ml-2">&#9650;</span>
          <span *ngIf="i > 3" class="text-red-500 ml-2">&#9660;</span>
          <!-- Display the member's XP -->
          <span class="text-sm bg-primary-700 px-3 py-1 rounded-full">{{ member.xp }} XP</span>
        </div>
      </div>
    </ng-container>
    </ng-container>
  </div>
</div>
