<body>

<div class="rankings-section rounded-lg w-full max-w-md mx-auto mt-16 text-white">
  <!-- Carousel Content -->
  <div class="flex flex-col items-center bg-white dark:bg-[#3a4153] rounded-lg">
    <ng-container *ngIf="leagues && leagues.length > 0; else noLeaguesTemplate">

      <!-- League Header with Navigation Arrows -->
      <div class="flex items-center justify-between w-full px-4 py-2">
        <!-- Left Arrow for Previous League or Invisible Placeholder -->
        <div *ngIf="currentLeagueIndex > 0; else invisiblePlaceholder">
          <button (click)="moveToPreviousLeague()" class="focus:outline-none">
            <svg class="w-8 h-8 text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
            </svg>
          </button>
        </div>
        <ng-template #invisiblePlaceholder>
          <span class="w-8 h-8"></span>
        </ng-template>

        <!-- League Name -->
        <h2 class="text-2xl font-bold text-black dark:text-white text-center flex-1">{{ leagues[currentLeagueIndex].name }}</h2>

        <!-- Right Arrow for Next League or Invisible Placeholder -->
        <div *ngIf="currentLeagueIndex < leagues.length - 1; else invisiblePlaceholder">
          <button (click)="moveToNextLeague()" class="focus:outline-none">
            <svg class="w-8 h-8 text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg>
          </button>
        </div>
      </div>

      <ng-container *ngIf="leagues[currentLeagueIndex]?.id as currentLeagueId">
        <!-- Ensure league members are defined for the current league -->
        <ng-container *ngIf="leagueMembers[currentLeagueId]">
          <div class="grid grid-cols-1 p-2 gap-4"> <!-- Cards will be stacked on top of each other -->
            <div *ngFor="let member of leagueMembers[currentLeagueId]; let i = index"
                 [ngClass]="{'bg-lighter-purple': isCurrentUser(member.userid), 'bg-your-color': !isCurrentUser(member.userid)}"
                 class="user-card rounded-lg p-4 flex items-center justify-between shadow-lg relative">
              <!-- Member Details -->
              <div class="flex items-center space-x-4">
                <!-- Medal Icons or Position Number -->
                <span class="text-l p-3">
            <span *ngIf="i === 0">🥇</span>
            <span *ngIf="i === 1">🥈</span>
            <span *ngIf="i === 2">🥉</span>
            <span *ngIf="i >= 3" class="">{{ i + 1 }}</span>
          </span>
                <!-- Profile Picture -->
                <img src="assets/images/user_profile_img.png" alt="Profile Picture" class="w-10 h-10 rounded-full">
                <!-- Username -->
                <span class="username text-black p-4 dark:text-white">{{ member.username }}</span>
              </div>
              <!-- Member XP -->
              <div>
                <span class="xp text-sm bg-primary-700 p-4 px-3 py-1 rounded-full">{{ member.xp }} XP</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>



    </ng-container>

    <ng-template #noLeaguesTemplate>
      <div class="py-10 px-6 text-center">
        <p class="text-xl font-bold text-black dark:text-white">You are not in any league yet</p>
        <p class="text-md text-black dark:text-white">create your first league and invite your friends!</p>
        <div class="flex justify-center p-4">
          <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            Create Your First League Now
          </button>
        </div>
      </div>


    </ng-template>


    </div>
  </div>
<script src="https://cdn.counter.dev/script.js" data-id="64984b1c-9e8e-4110-9984-9708267b5d2d" data-utcoffset="1"></script>

</body>

