<div class="mx-auto rounded-lg bg-light-mode-acc border-gray-300 p-4 shadow-lg max-w dark:bg-[#3a4151]">
  <!-- Background Image -->
  <div class="mb-2">
    <img *ngIf="_bgImageUrl" [src]="_bgImageUrl" alt="Background Image" class="rounded-lg"
         style="height: 300px; width: 100%; object-fit: cover;">
    <div *ngIf="!_bgImageUrl" class="rounded-lg bg-gray-300" style="height: 300px; width: 100%;">
      <!-- Placeholder content -->
      <p>DAAAAMN</p>
    </div>
  </div>

  <!-- Upload Button -->
  <div>
    <label class="button primary block w-[130px] text-purple-500 font-medium text-sm px-5 py-2 text-center"
           for="bg-image-upload">
      {{ uploading ? 'Uploading ...' : 'Upload' }}
    </label>
    <input (change)="uploadBgImage($event)" [disabled]="uploading" accept="image/*" id="bg-image-upload"
           style="visibility: hidden; position: absolute" type="file"/>
  </div>
</div>
