<!-- custom-alert.component.html -->
<div *ngIf="show" id="custom-alert" tabindex="-1" class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-1 dark:bg-dark-gray dark:border-gray-600">
  <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0">
    <p class="flex items-center text-sm font-bold text-red-700 dark:text-red-700">{{ message }}</p>
  </div>
</div>




