<article class="p-6 text-base bg-white rounded-lg dark:bg-[#3a4151]">
  <footer class="flex justify-between items-center mb-2">
    <div class="flex items-center">
      <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
        <img [src]="avatarSafeUrl"
        class="mr-2 w-6 h-6 rounded-full"
        alt="user_profile_pic">{{username}}
      </p>
      <p class="text-sm text-gray-600 dark:text-white">
        <time pubdate datetime="2022-02-08" title="February 8th, 2022">
          {{ comment.created_at | date: 'short' }}
        </time>
      </p>
    </div>
  </footer>
  <p class="text-gray-500 dark:text-white">
    {{ comment.content }}
  </p>
</article>
