<button
  data-drawer-target="logo-sidebar"
  data-drawer-toggle="logo-sidebar"
  aria-controls="logo-sidebar"
  *ngIf="navbarService.showNavbar$ | async"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      fill-rule="evenodd"
    ></path>
  </svg>
</button>

<aside
  id="logo-sidebar"
  *ngIf="navbarService.showNavbar$ | async"
  aria-label="Sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full lg:translate-x-0"
>
  <div
    class="h-screen px-3 py-4 overflow-y-auto bg-light-mode dark:bg-dark-mode"
  >
    <a class="flex items-center mb-3" href="/home">
      <img
        alt="Remontada Logo"
        class="w-16 h-16 me-2 text-black dark:text-white"
        src="assets/logos/R-Logo-04.svg"
      />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
        >Remontada</span
      >
    </a>
    <ul class="space-y-2 font-medium">
      <li>
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/home"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/home"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Search</span>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated$ | async">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/notifications"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 16 21"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C15 15.4 15 16 14.462 16H1.538C1 16 1 15.4 1 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 8 3.464ZM4.54 16a3.48 3.48 0 0 0 6.92 0H4.54Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Notifications</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/league"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 20 18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 5h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2v3l-4-3H8m4-13H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h2v3l4-3h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">League</span>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated$ | async">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/profile"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 11 14H9a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 10 19Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated$ | async">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/shop"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 18 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 9V4a3 3 0 0 0-6 0v5m9.92 10H2.08a1 1 0 0 1-1-1.077L2 6h14l.917 11.923A1 1 0 0 1 15.92 19Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Points shop</span>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated$ | async">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-navbar-hover-light dark:hover:bg-dark-gray group"
          href="/settings"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="currentColor"
            viewBox="0 0 16 3"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
        </a>
      </li>
    </ul>
    <ul
      class="pt-4 mt-4 space-y-2 font-medium border-t border-amber-600 dark:border-amber-700"
    >
      <li *ngIf="authService.isAuthenticated$ | async">
        <button
          (click)="authService.logout()"
          class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-navbar-hover-light dark:hover:bg-dark-gray dark:text-white group"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 18 15"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="ms-3">Sign out</span>
        </button>
      </li>
      <li *ngIf="!(authService.isAuthenticated$ | async)">
        <button
          class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 ml-18 mt-8 mb-2"
          type="button"
          (click)="navigatetoRegister()"
        >
          Register
        </button>
      </li>
      <li *ngIf="!(authService.isAuthenticated$ | async)">
        <button
          class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 ml-18 mt-8 mb-2"
          type="button"
          (click)="navigateToLogin()"
        >
          Log In
        </button>
      </li>
      <li>
        <a
          class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-navbar-hover-light dark:hover:bg-dark-gray dark:text-white group cursor-pointer"
          href="/home"
        >
          <svg
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 22 22"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m12.46 7.291 3.849-3.849a1.5 1.5 0 0 1 2.122 0l.127.127a1.5 1.5 0 0 1 0 2.122l-3.839 3.838a4 4 0 0 0-2.259-2.238Zm0 0a4 4 0 0 1 2.263 2.238l3.662-3.662a8.96 8.96 0 0 1 0 10.27l-3.676-3.676m-2.249-5.17 3.677-3.676a8.96 8.96 0 0 0-10.27 0l3.662 3.662a4 4 0 0 0-2.238 2.258L3.615 5.863a8.961 8.961 0 0 0 0 10.27l3.662-3.662a4 4 0 0 0 2.258 2.238l-3.672 3.676a8.96 8.96 0 0 0 10.27 0l-3.662-3.662a4 4 0 0 0 2.238-2.262m0 0 3.849 3.848a1.499 1.499 0 0 1 0 2.122l-.127.126a1.5 1.5 0 0 1-2.122 0l-3.838-3.838a4 4 0 0 0 2.238-2.258ZM15 11a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-7.719 1.471-3.839 3.838a1.5 1.5 0 0 0 0 2.122l.127.126a1.5 1.5 0 0 0 2.122 0l3.848-3.848a4 4 0 0 1-2.258-2.238Zm2.248-5.19L5.691 3.442a1.5 1.5 0 0 0-2.122 0l-.127.127a1.5 1.5 0 0 0 0 2.122l3.849 3.848a4 4 0 0 1 2.238-2.258Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
          <span class="ms-3">Help</span>
        </a>
      </li>
      <li>
        <a
          (click)="themeService.toggleTheme()"
          class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-navbar-hover-light dark:hover:bg-dark-gray dark:text-white group cursor-pointer"
        >
          <svg
            *ngIf="themeService.isDarkModeEnabled()"
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 18 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 3V1m0 18v-2M5.05 5.05 3.636 3.636m12.728 12.728L14.95 14.95M3 10H1m18 0h-2M5.05 14.95l-1.414 1.414M16.364 3.636 14.95 5.05M14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <svg
            *ngIf="!themeService.isDarkModeEnabled()"
            aria-hidden="true"
            class="w-[19px] h-[19px] text-gray-800 dark:text-white"
            fill="none"
            viewBox="0 0 18 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="ms-3"
            >{{
              themeService.isDarkModeEnabled() ? "Light" : "Dark"
            }}
            Mode</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
