<div class="flex flex-wrap justify-center -mx-2">
    <!-- Registration Form -->
    <div class="w-full max-w-md px-2 mb-4">
        <div class="p-6 rounded-lg shadow-lg bg-white">
            <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Register</h1>
            <form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="space-y-6">
                <!-- Email Field -->
                <div>
                    <label class="block text-gray-700 text-sm font-medium mb-2" for="registerEmail">Email:</label>
                    <input class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-700" formControlName="email" id="registerEmail" placeholder="name@example.com"
                           type="email">
                    <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched"
                         class="text-red-600 text-sm mt-1">
                        <span *ngIf="registerForm.controls['email'].errors?.['required']">Email is required. </span>
                        <span *ngIf="registerForm.controls['email'].errors?.['email']">Please enter a valid email. </span>
                        <span *ngIf="registerForm.controls['email'].errors?.['minlength']">Email must be at least 5 characters long. </span>
                    </div>
                </div>

                <!-- Password Field -->
                <div>
                    <label class="block text-gray-700 text-sm font-medium mb-2" for="registerPassword">Password:</label>
                    <input class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-700" formControlName="password" id="registerPassword" placeholder="Your password"
                           type="password">
                    <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
                         class="text-red-600 text-sm mt-1">
                        <span *ngIf="registerForm.controls['password'].errors?.['required']">Password is required. </span>
                        <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 8 characters long. </span>
                        <span *ngIf="registerForm.controls['password'].errors?.['pattern']">Password must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number. </span>
                    </div>
                </div>

                <!-- Confirm Password Field -->
                <div>
                    <label class="block text-gray-700 text-sm font-medium mb-2" for="registerConfirmPassword">Confirm
                        Password:</label>
                    <input class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-700" formControlName="confirmPassword" id="registerConfirmPassword"
                           placeholder="Confirm your password"
                           type="password">
                    <div *ngIf="registerForm.errors?.['mismatchedPasswords'] && registerForm.controls['confirmPassword'].touched"
                         class="text-red-600 text-sm mt-1">
                        Passwords do not match.
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <button [disabled]="loading"
                            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                            type="submit">
                        {{ loading ? 'Loading...' : 'Register' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
